<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${titel}">Product Assurance, Safety &amp; Sustainability Requirements</title>
    <meta name="title" th:text="${titel}"/>
    <meta name="description" th:content="${beschreibung}"/>
    <meta name="author" content="TailoringExpert"/>
    <meta name="subject" content="Project Requirements"/>
    <meta name="keywords" content="Requirements"/>


    <link rel="stylesheet" type="text/css" href="../css/page.css"/>

    <style>
        .drd-tabelle th {
            background-color: silver;
            vertical-align: top;
        }

        .drd-tabelle td {
            background-color: lightgoldenrodyellow;
            vertical-align: top;
        }

        .box {
            font-size: 1.17em;
            font-weight: bolder;
            padding: 10px;
            background-color: rgb(210, 233, 255)
        }

	.na {
	    font-style: italic;
	    color: #D3D3D3;
	    // display: none;
	}
}


    </style>
    <bookmarks>
        <bookmark th:each="bookmark: ${bookmarks}" th:name="${bookmark.value}" th:href="'#' + ${bookmark.key}"/>
    </bookmarks>
</head>
<body>

<div style="position: running(dokument_datum);font-size:x-small;border-bottom: 1px solid black;">
    <span th:text="${DOKUMENT}"/><br/>
    <span th:text="${DATUM}"/>
</div>

<div style="position: running(logo)">
    <img class="logo" src="../css/img/logo.png" alt="Logo"/>
</div>

<header-box>
    <h1>TailoringExpert<br/>Product Assurance</h1>
    <h2>Sample Department</h2>
</header-box>


<div style="position: running(dokumenttyp_projekt);font-size:x-small;border-top: 1px solid black">
    <span>Tailoring Catalogue</span><br/>
    <span th:text="${PROJEKT}"/>
</div>


<title-box>
    <dokument-typ>Tailoring Catalogue</dokument-typ>
    <dokument-subtyp>Product Assurance, Safety &amp; Sustainability Requirements</dokument-subtyp>
    <dokument-project>for TailoringExpert Projects</dokument-project>
    <dokument-release>TailoringExpert-RF-PS-001<br/>Issue 8.2.1<br/>April 2021</dokument-release>
</title-box>


<page-after>
    <div style="margin:auto;margin-top: 680px">
        Copyright <br/>
        Any person is hereby authorized to view, copy, print, and distribute this document subject to the following
        conditions:
        <p>
            The document may be used for informational purposes only.<br/>
            The document may only be used for non-commercial, non-profit purposes.
        </p>
        Any copy of this document thereof must include this Copyright notice. <br/>
        This document is provided "as is", and copyright holders make no warranties, including, but not limited to,
        warranties of merchantability, fitness for a particular purpose, non-infringement; that the contents of the
        document are suitable for any purpose; nor that the implementation of such contents will not infringe any third
        party patents, copyrights, trademarks or other rights.
    </div>
</page-after>


<page-after>
    <div style="width: 60%;margin:auto;text-align:center">
        <hr/>
        <dokument-typ>Tailoring Catalogue</dokument-typ>
        <dokument-subtyp>Product – Assurance, Safety &amp; Sustainability Requirements</dokument-subtyp>
        <dokument-project>for TailoringExpert Projects</dokument-project>
        <hr/>
    </div>
    <div style="width: 90%;margin:auto;margin-top: 250px; ">
        <table border="1px" class="center" style="table-layout:fixed;border-collapse:collapse;width:100%">
            <thead>
            <tr>
                <th style="width:20%"></th>
                <th style="width:40%">Name</th>
                <th style="width:25%">Signature</th>
                <th style="width:15%">Date</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</page-after>

<page-after>
    <div style="margin-top: 300px;text-align:center">
        (THIS PAGE INTENTIONALLY LEFT BLANK)
    </div>
</page-after>

<page-after>
    <div style="text-align:center">
        <table border="1px" class="center" style="table-layout:fixed;border-collapse:collapse;width:100%">
            <colgroup>
                <col style="width:20%"/>
                <col style="width:65;"/>
                <col style="width:15%"/>

            </colgroup>
            <thead>
            <tr>
                <th>Issue</th>
                <th>Change Description/Reason (Ref.)</th>
                <th>Chapter</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>8.3</td>
                <td style="text-align:left">Rework</td>
                <td>$11</td>
            </tr>
            </tbody>
        </table>
    </div>
</page-after>


<page-after id="toc">
    <h2>Table of Content</h2>
    <ul class="toc">
        <li th:each="requirement: ${requirements.?[!#strings.isEmpty(chapter) AND level &lt; 4]}">
            <a th:href="'#' + ${requirement.chapter}" th:utext="${requirement.text}"></a>
        </li>
    </ul>
</page-after>

<page-after>
    <h1>TailoringExpert - Business Quality Industry Cooperation</h1>
</page-after>


<page-after>
    <h1>Tailoring Catalogue – In General</h1>
    The tailoring catalogue is prepared by a working group composed by competent representatives from important prime
    space.

    <br/>
    The tailoring levels applied in this requirement catalogue are defined in the table below.
    <table>
        <thead>
        <tr>
            <td>Level</td>
            <td>Description</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>A1-A10</td>
            <td>Requirements for Product Assurance Management</td>
        </tr>
        <tr>
            <td>Q1-Q10</td>
            <td>Requirements for Quality Assurance</td>
        </tr>
        <tr>
            <td>M1-M10</td>
            <td>Requirements for Maintainability</td>
        </tr>
        <tr>
            <td>R1-R10</td>
            <td>Requirements for Dependability</td>
        </tr>
        <tr>
            <td>S1-S10</td>
            <td>Requirements for Safety</td>
        </tr>
        <tr>
            <td>E1-E10</td>
            <td>Requirements for EEE Parts Procurement</td>
        </tr>
        <tr>
            <td>P1-P10</td>
            <td>Requirements for Materials, Mechanical Parts and Processes</td>
        </tr>
        <tr>
            <td>W1-W10</td>
            <td>Requirements for Software Assurance</td>
        </tr>
        <tr>
            <td>J1-J10</td>
            <td>Space Debris</td>
        </tr>
        <tr>
            <td>F1-F10</td>
            <td>Planetary Protection</td>
        </tr>
        <tr>
            <td>C1-C10</td>
            <td>Space Cyber Sec.</td>
        </tr>
        <tr>
            <td>B1-B10</td>
            <td>Ground Segment</td>
        </tr>
        </tbody>
    </table>
</page-after>

<table width="100%">
    <tbody>
    <th:block th:each="requirement : ${requirements}">
        <tr>
            <td style="width:15%;font-size:x-small;">
                <span style="display: block;" th:utext="${requirement.position}">Position</span><br/>
                <img style="display: block;" th:if="${requirement.logo!=null}" th:src="${requirement.logo}" th:alt="${requirement.logo}"/>
                <span th:utext="${requirement.reference}">Reference</span>
            </td>
            <td style="width:85%" colspan="2"
                th:classappend="${requirement.chapter!=null}?box"
                th:attrappend="id=${requirement.chapter!=null}?${requirement.chapter}"
                th:utext="${requirement.text}">
            </td>
            <td style="width:7%;font-size:x-small;"
                th:utext="${#strings.listJoin(requirement.identifiers, '<br/>')}"></td>
            <td style="width:3%;font-size:x-small;"
                th:utext="${#strings.listJoin(requirement.phases, '<br/>')}"></td>
        </tr>

        <th:block th:if="${#strings.equalsIgnoreCase(requirement.chapter, '1.6.1')}">
            <tr>
                <td style="width:15%;font-size:x-small;">a</td>
                <td style="width:85%" colspan="2">
                    The following documents shall be used by suppliers and subsuppliers as applicable in the context
                    of the requirements they are referred from. For undated references the latest edition of the
                    publication referred to applies.
                </td>
            </tr>
            <tr>
                <td style="width:15%;font-size:x-small;">b</td>
                <td style="width:85%">${DRD_DOCID}</td>
                <td>Document Requirement Definition (DRDs)</td>
            </tr>

            <tr th:each="document : ${applicableDocuments}">
                <td style="width:15%;font-size:x-small;" th:utext="${document.number}"></td>
                <td style="width:85%" th:utext="|${document.title}${document.issue}|"></td>
                <td style="width:65%" th:utext="${document.description}"></td>
                <td></td>
                <td></td>
            </tr>
        </th:block>

        <th:block th:if="${#strings.equalsIgnoreCase(requirement.chapter, '16')}">
            <tr>
                <td style="width:15%;font-size:x-small;">a</td>
                <td style="width:85%" colspan="2">
                    Deliverable documents listed in this chapter might be combined to one joint document as long as
                    the DRD content is covered.
                    <blockquote dir="ltr" style="margin-right: 0px">
                        <strong>NOTE:</strong><br/>
                        Doing so should be agreed ahead of data package deliveries. Preferably; the statement of
                        compliance to PA &amp; Safety requirements, chapter 13, or a common document delivery list
                        (DDL)
                        with compliance statement for full project documentation already addresses documents to be
                        combined.
                    </blockquote>
                </td>

            </tr>
            <tr>
                <td style="width:5%;font-size:x-small;">b</td>
                <td style="width:85%" colspan="2">
                    Explanation of entries:
                    <table cellpadding="1px" style="width: 95%">
                        <tbody>
                        <tr>
                            <td vertical-align="top" style="width:25%;"><strong>Title:</strong></td>
                            <td vertical-align="top">Self-explanatory.</td>
                        </tr>
                        <tr>
                            <td vertical-align="top" style="width:25%;"><strong>Due Date:</strong></td>
                            <td vertical-align="top">Each document shall be submitted in tbd copies at the indicated
                                deadline.
                            </td>
                        </tr>
                        <tr>
                            <td vertical-align="top" style="width:25%;"><strong>PA-Requirement Reference:</strong>
                            </td>
                            <td vertical-align="top">Cross reference to the section/para. of this specification.
                            </td>
                        </tr>
                        <tr>
                            <td vertical-align="top" style="width:25%;"><strong>DRD-No.:</strong></td>
                            <td vertical-align="top">Cross reference to the DRD number in the Document Requirement
                                Definition DLR-RF-PS-002,
                                containing additional information for the preparation of the required document.
                            </td>
                        </tr>
                        <tr>
                            <td vertical-align="top" style="width:25%;"><strong>DLR Action:</strong></td>
                            <td vertical-align="top">Indicates customer action categories:<br/>
                                A = Approval<br/>
                                AC = Acceptance<br/>
                                R = Review<br/>
                                I = Information
                            </td>
                        </tr>
                        <tr>
                            <td vertical-align="top" style="width:25%;"></td>
                            <td vertical-align="top"></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td style="width:10%;font-size:x-small"></td>
                <td style="width:5%;font-size:x-small;">c</td>
                <td style="width:85%" colspan="2">
                    <blockquote><strong>NOTE:</strong><br/>
                        Due dates are further clarified by agreements:
                        <ul>
                            <li>
                                With respect to milestones (e.g. due events listed in an agreement) the DLR-RFM
                                provides review procedures including specific document delivery lists which might
                                be amended by mission specific needs, as agreed between all parties,&#160;and time
                                line for review data package provision, distribution of review item discrepancies
                                (RID), RID answering as well as colloquium.
                            </li>
                            <li>
                                With respect to reviews which are required by management, engineering and PA
                                requirements but are no agreed milestones, the supplier is responsible for issuing
                                a review procedure and running the review process. Information on such reviews and
                                participation of DLR-RFM has to be agreed between the parties.
                                <blockquote>
                                    <strong>NOTE:</strong><br/>
                                    Conduct of reviews is a project management task.
                                </blockquote>
                            </li>
                        </ul>
                    </blockquote>
                </td>
            </tr>

            <tr>
                <td style="width:10%;font-size:x-small"></td>
                <td style="width:5%;font-size:x-small;">d</td>
                <td style="width:85%" colspan="2">
                    <blockquote><strong>NOTE:</strong><br/>
                        In phase E documents marked with delivery for AR are only relevant in case of major design
                        modifications or adaptations will occure.<br/>
                        Details and, in case of major design modifications or new developments, additional
                        development
                        documentation need to be agreed with customer on a case by case basis.
                    </blockquote>
                </td>
                <td></td>
                <td></td>
            </tr>
        </th:block>


    </th:block>
    </tbody>
</table>
</body>

</html>
