<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-05.07">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-05.07 - Safety data package (SDP), general</h2>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="4">Reference:</td>
            <td>ECSS-Q-ST-40C</td>
            <td>Space product assurance - Safety</td>
        </tr>
        <tr>
            <td>ECSS-M-ST-80C</td>
            <td>Space Project Management - Risk Management</td>
        </tr>
        <tr>
            <td>SSP-51700 Baseline, DCN004</td>
            <td>Payload Safety Policy and Requirements for the International Space Station</td>
        </tr>
        <tr>
            <td>SSP 30599</td>
            <td>Safety Review Process</td>
        </tr>

        <tr>
            <td>NSTS/ISS 13830</td>
            <td>Payload Safety Review and Data Submittal Requirements</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>
                <p>The purpose of the SDP is to document the compliance with the project relevant safety requirements.
                    Defines the payload activities and documentation requirements leading to safety documentation of
                    instruments, facilities, mission equipment and instrument ground support equipment (IGSE) to support
                    the payload safety review process.</p>
                <p>The PO is required to conduct a systematic safety analysis and to document and submit a SDP in
                    support of safety reviews to be conducted by the operators. The customer shall perform the safety
                    reviews which document the current safety status of the system. The SDP shall be the subject of
                    review and formal acceptance by the customer and the launch authority. The safety critical items
                    shall be identified and listed. Deviations from safety requirements shall be identified. All safety
                    critical changes made to technical requirements shall be approved and agreed.</p>
                <p>The supplier shall submit a safety data package (SDP) to support reviews.</p>
                <p class="note">
                    This can be a stand-alone package or be integrated into the overall
                    data package if the safety review is part of an overall project review.
                </p>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>
                The customer will perform phase safety reviews. The supplier shall submit the SDP TBD days prior to
                the reviews.<br/>
                The SDP shall describe the manufactured flight and ground HW/SW and its operations and shall define
                the potential hazards and the implemented hazard control methods (as applicable). Every data or
                documentation changes in the SDP resulting by mandatory modifications will be formally controlled.
                The supplier shall integrate safety data related to the various subsystems or equipment that make up
                the system into the SDP that is to be presented at the safety reviews. The data shall be updated as
                necessary for each of the phased reviews. At the phase review, the data should show that the
                verification process has been completed.<br/>
                The safety data package shall contain at least the following safety related documentation:
                <ul type="disc">
                    <li>Description of the HW design and flight operations;</li>
                    <li>Safety risk assessment (if applicable);</li>
                    <li>Summary of the safety analysis results (Safety analysis report);</li>
                    <li>Documentation of all applicable hazards, controls and verifications on HRs (e.g.
                        ISS_OE_1298/ISS_OE_851);
                    </li>
                    <li>certificate of Payload Safety Compliance (ISS_OE_906)</li>
                    <li>Supporting analysis (if applicable);</li>
                    <li>Safety risk assessment (if applicable);</li>
                    <li>Hazardous ground operations list and procedures;</li>
                    <li>Safety verification tracking log (SVTL).<br/></li>
                </ul>
                The contents of the safety data packages for the planned safety reviews of a project or programme
                shall be specified by the Safety Approval Authority to assure they support the objectives of the
                safety reviews for which they are delivered.<br/> <br/> The supplier shall use the actual
                configuration baseline as the design and operational baseline that is the subject of the safety data
                package.<br/> <br/>
                The supplier shall integrate safety data related to the various subsystems or equipment that makes up
                the system into the safety data package that is presented at the review.<br/> <br/>
                All safety data shall be traceable from the safety data package and available for review.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>In-House</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
