<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>DRD-05.08 - NASA: Safety Data Package (SDP)</title>

    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-05.08">
    <table class="titel" aria-label="title">
        <tbody>
        <tr>
            <td><h2>DRD-05.08 - NASA: Safety Data Package (SDP)</h2></td>
        </tr>
        </tbody>
    </table>


    <table class="reference" aria-label="reference">
        <tbody>
        <tr>
            <td rowspan="2">Reference:</td>
            <td>SSP-51700 Baseline</td>
            <td>Payload Safety Policy and Requirements for the International Space Station</td>
        </tr>
        <tr>
            <td>NSTS/ISS 13830</td>
            <td>Payload Safety Review and Data Submittal Requirements</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose" aria-label="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>The purpose of the SDP is to document the compliance with the project relevant safety requirements.
                Defines the payload activities and documentation requirements leading to safety documentation of
                instruments, facilities, mission equipment and instrument ground support equipment (IGSE) to support the
                payload safety review process.
                The PO is required to conduct a systematic safety analysis and to document and submit a SDP in support
                of safety reviews to be conducted by the operators. The customer shall perform the safety reviews which
                document the current safety status of the system. The SDP shall be the subject of review and formal
                acceptance by the customer and the launch authority. The safety critical items shall be identified and
                listed. Deviations from safety requirements shall be identified. All safety critical changes made to
                technical requirements shall be approved and agreed.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content" aria-label="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>The safety analysis results shall be documented in the SDP, which includes applicable payload HR forms
                (JSC Form 542B and JSC Form 1230).
                The customer will perform phase (0, I, II, III) safety reviews. The supplier shall submit the SDP to the
                Payload Mission Manager (PMM). And the PMM provides the SDP to the Safety Panel for the phase review
                (PSRP, GSRP).
                The SDP shall describe the manufactured flight and ground HW/SW and its operations and shall define the
                potential hazards and the implemented hazard control methods (as applicable). Every data or
                documentation changes in the SDP resulting by mandatory modifications will be formally controlled. The
                supplier shall integrate safety data related to the various subsystems or equipment that make up the
                system into the SDP that is to be presented at the safety reviews. The data shall be updated as
                necessary for each of the phased reviews. At the phase III review, the data should show that the
                verification process has been completed.
                Safety Compliance Data Package: Special data submittal requirements have been developed for payloads
                using standards elements to eliminate unnecessary duplication of activities (e.g. safety activities).
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format" aria-label="format">
        <tbody>
        <tr>
            <td>Format</td>
            <td>The following data are required for the simplified SDP for basic payloads:
                <ul>
                    <li>description of the HW design and flight operations;</li>
                    <li>summary of the safety analysis results;</li>
                    <li>documentation of all applicable hazards, controls and verifications on HR (e.g. JSC Form 1230 /
                        Form 542B);
                    </li>
                    <li>Payload Flight Safety VTL (JSC&#xa0;Form 764);</li>
                    <li>certificate of Payload Safety Compliance (e.g. JSC Form 1114A).</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <page-before>
        Phase SDP Data Requirements (NSTS/ISS 13830)
        <table class="word-wrap center-bold bordered" style="table-layout: auto" aria-label="requirements part 1">
            <colgroup>
                <col style="width: 7%;"/>
                <col style="width: 61%;"/>
                <col style="width: 8%;"/>
                <col style="width: 8%;"/>
                <col style="width: 8%;"/>
                <col style="width: 8%;"/>
            </colgroup>
            <thead>
            <tr>
                <td></td>
                <td></td>
                <td>Phase</td>
                <td>Phase</td>
                <td>Phase</td>
                <td>Phase</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td><strong>SDP Contents</strong></td>
                <td><strong>0</strong></td>
                <td><strong>I</strong></td>
                <td><strong>II</strong></td>
                <td><strong>III</strong></td>
            </tr>
            <tr>
                <td></td>
                <td><strong>a. For payload design and flight operations</strong></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>(1)</td>
                <td>Payload description (including subsystems) and mission scenario</td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td>(2)</td>
                <td>Description of safety-critical subsystems and their operations</td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td></td>
                <td>- incl. schematics and block diagrams with payload safety features and independent inhibits,
                    controls and monitoring provisions identified
                </td>
                <td></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td></td>
                <td>- present a summary of the test and analytical efforts</td>
                <td></td>
                <td><strong></strong></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td></td>
                <td>- for a computer-based control system that is used to prevent critical/catastrophic
                    hazards, provide verifications
                </td>
                <td></td>
                <td></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td>(3)</td>
                <td>Flight HRs (ISS_OE_1298/ISS_OE_851)</td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td></td>
                <td>- incl. appropriate support data</td>
                <td></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td></td>
                <td>- for payloads that have catastrophic hazard potential, document the verification
                    programme (see SSP 51700)
                </td>
                <td></td>
                <td></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td>(4)</td>
                <td>Summary list of orbiter- and /or ISS programme provided critical services</td>
                <td></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td></td>
                <td>Explanation (in the HR) of the services used to control/monitor payload hazards</td>
                <td></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
                <td></td>
            </tr>
            <tr>
                <td>(5)</td>
                <td>For ISS payloads, a section in the FSDP to explain Fire Detection and Suppression
                    (FDS) implementation approach
                </td>
                <td></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td></td>
                <td>Discussion of design features supporting verification of hazard controls</td>
                <td></td>
                <td><strong>X</strong></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>(6)</td>
                <td> Verification methods associated with hazard controls</td>
                <td></td>
                <td></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td>(7)</td>
                <td>Tabulated list of tentative toxic materials and support data per JSC 27472</td>
                <td></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td>(8)</td>
                <td>List of all battery types, their uses, manufacturer and applications</td>
                <td></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td>(9)</td>
                <td>Preliminary description of all pyrotechnic devices and their functions</td>
                <td></td>
                <td><strong>X</strong></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>List of all pyrot. devices, their function, chemical composition, critical components
                    inspection plan, verification plan and aging degradation evaluation plan
                </td>
                <td></td>
                <td></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td>(10)</td>
                <td>List of hazard controls that require crew procedures and/or training</td>
                <td></td>
                <td></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td>(11)</td>
                <td>Record of test failures, anomalies and accidents involving qualification or potential
                    flight HW or baselined flight SW if the SW used for hazard control
                </td>
                <td></td>
                <td></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td></td>
                <td>- incl. a safety assessment for items which affect safety</td>
                <td></td>
                <td></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td>(12)</td>
                <td>Status of all action items assigned to the PO during the phase</td>
                <td></td>
                <td></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td>(13)</td>
                <td>On-orbit maintenance safety assessment as outlined in SSP 51700</td>
                <td></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td>(14)</td>
                <td>Payload Flight Safety VTL (ISS_OE_764)</td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td>(15)</td>
                <td>Identification of flight safety non-compliances (NCRs) (ISS_CM_031)</td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>X</strong></td>
            </tr>
            </tbody>
        </table>
    </page-before>

    <page-before>
        <table class="word-wrap center-bold bordered" style="table-layout: auto" aria-label="requirements part 2">
            <colgroup>
                <col style="width: 7%;"/>
                <col style="width: 61%;"/>
                <col style="width: 8%;"/>
                <col style="width: 8%;"/>
                <col style="width: 8%;"/>
                <col style="width: 8%;"/>
            </colgroup>
            <thead>
            <tr>
                <td></td>
                <td></td>
                <td>Phase</td>
                <td>Phase</td>
                <td>Phase</td>
                <td>Phase</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td><strong>SDP Contents</strong></td>
                <td><strong>0</strong></td>
                <td><strong>I</strong></td>
                <td><strong>II</strong></td>
                <td><strong>III</strong></td>
            </tr>
            <tr>
                <td></td>
                <td><strong>b. For GSE design and ground operations</strong></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>(1)</td>
                <td>Payload description and mission scenario</td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td>(2)</td>
                <td>GSE description and GSE operations</td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td></td>
                <td>Description of payload design that is safety critical during ground operations
                </td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td>(3)</td>
                <td>Ground operations scenario including postflight ground operations</td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td>(4)</td>
                <td> Ground HRs (JSC Form 542B)</td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td></td>
                <td>- including appropriate support data</td>
                <td></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td>(5)</td>
                <td>Ordnance data required by the current version of KHD 1700.7, Appendix D</td>
                <td></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td>(6)</td>
                <td>Estimated KSC on-dock arrival date</td>
                <td></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td>(7)</td>
                <td>Specific engineering drawings and stress analyses of subsystems</td>
                <td></td>
                <td></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td>(8)</td>
                <td>List of safety-related failures and mishaps that have occurred</td>
                <td></td>
                <td></td>
                <td><strong>X</strong></td>
                <td></td>
            </tr>
            <tr>
                <td>(9)</td>
                <td>Status of all action items assigned to the PO during the phase</td>
                <td></td>
                <td></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td>(10)</td>
                <td>List of technical operating procedures that will be used at KSC with a designation
                    as to which ones are considered hazardous
                </td>
                <td></td>
                <td></td>
                <td><strong>X</strong></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td>(11)</td>
                <td>Verification that each payload flight system pressure vessel has a pressure vessel
                    logbook
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td>(12)</td>
                <td>Payload Ground Safety VTL, if required</td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td>(13)</td>
                <td>Certificate of Payload Safety Compliance (JSC Form 1114A)</td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td>(14)</td>
                <td>Procedural hazard control matrix that identifies hazard control criteria</td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>X</strong></td>
            </tr>
            <tr>
                <td>(15)</td>
                <td>Identification of ground safety non-compliances</td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>X</strong></td>
            </tr>
            </tbody>
        </table>
    </page-before>


</div>

</body>
</html>