<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-04.16">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-04.16 - Maintainability analysis</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="1">Reference:</td>
            <td>ECSS-Q-ST-30C</td>
            <td>Space product assurance - Dependability</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td> The purpose of the maintainability analysis is to:
                <ul type="disc">
                    <li>identify the possible corrective and preventive maintenance tasks,</li>
                    <li>provide MTBF and MTTR for availability analysis,</li>
                    <li>provide recommendations for improvement.</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td> The maintainability analysis document shall include, as a minimum:
                <ul type="disc">
                    <li>maintenance levels: for corrective and preventive actions,</li>
                    <li>identification of FDIR policy,</li>
                    <li>mathematical model description,</li>
                    <li>the maintenance indicators (e.g. MTTR, maintenance time per year, maintenance frequency),</li>
                    <li>the sparing recommendations (e.g. number of spares, weight and volume of up and downloading
                        spares),
                    </li>
                    <li>identification of Maintainability Critical Items.</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>TBD</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>