<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-04.13">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-04.13 - Derating Analysis/Parts Application Review (Stress Analysis)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="2">Reference:</td>
            <td>ECSS-Q-ST-30-11C Rev.1</td>
            <td>Space product assurance - Derating - EEE components</td>
        </tr>
        <tr>
            <td>NPSL</td>
            <td>NASA Parts Selection List</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>To demonstrate that components comply with the project derating requirements as detailed in
                ECSS-Q-ST-30-11C Rev.1 or any other approved derating procedure.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>This analysis has to be performed on each equipment containing EEE components. Inputs from initial
                thermal analysis shall be taken into account. On the other hand, the derating analysis shall be used to
                refine the thermal analysis in order to avoid too large margins. Non-compliances with the project
                derating requirements which cannot be settled are subject to a RFW.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>The format to be used for the Derating Analysis/Parts Application Review shall be similar to the
                annexed one and shall contain at least the same information.
            </td>
        </tr>
        </tbody>
    </table>

    <page-before align="center">
        <img src="drd-04.13.gif" class="center" width="571" height="810"/>
    </page-before>

</div>
</body>
</html>