<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-10.01">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-10.01 - Off-the-shelf (OTS) Plan</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="1">Reference:</td>
            <td>ECSS-Q-ST-20-10C</td>
            <td>Space product assurance - Off-the-shelf items utilization in space systems</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>This DRD is called from requirement ECSS-Q-ST-20-10, requirement 5.1.1a.<br/>
                <p class="note">In this DLR DRD the OTS plan is called in section 10. OTS equipment. The word "item" has
                    been replaced by "equipment".
                </p>
                The OTS plan defines the OTS equipment process selection, characterization and qualification activities.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>
                <ol>
                    <li><b>Introduction </b><br/>
                        The OTS plan shall contain a description of the purpose, objective, content and the reason
                        prompting its preparation.
                    </li>
                    <li><b>Applicable and reference documents</b><br/>
                        The OTS plan shall list the applicable and reference documents in support to the generation of
                        the document.
                    </li>
                    <li><b>Definitions and abbreviations</b><br/>
                        The OTS plan shall list the applicable dictionary or glossary and the meaning of specific terms
                        or abbreviations utilized in the document with the relevant meaning.
                    </li>
                    <li><b>Responsibility and organization</b><br/>
                        The OTS plan shall describe the project team organization and the responsibilities for the
                        activities and documentation.
                    </li>
                    <li><b>OTS equipment selection</b><br/>
                        The OTS plan shall describe the market survey, the data evaluation and the selection activities
                        based on the requirements of ECSS-Q-ST-20-10 clause 5.2 and 5.3.
                    </li>
                    <li><b>OTS equipment characterization</b><br/>
                        The OTS plan shall present the OTS item characterization activities for selection of the final
                        candidate based on the requirements of ECSS-Q-ST-20-10 clause 5.3.
                    </li>
                    <li><b>OTS equipment performance evaluation</b><br/>
                        The OTS plan shall present the OTS item performance evaluation activities for selection of the
                        final candidate based on the requirements of ECSS-Q-ST-20-10 clause 5.3
                    </li>
                    <li><b>OTS equipment procurement and qualification</b><br/>
                        The OTS shall describe:
                        <ol style="list-style-type:lower-alpha">
                            <li>procurement activities once the project has completed the OTS equipment selection and
                                characterization processes;
                            </li>
                            <li>activities for the configuration control to track any OTS item modification;</li>
                            <li>description of the procurement verification approach and its implementation;</li>
                            <li>product assurance approach and its implementation;</li>
                            <li>batch policy;</li>
                            <li>qualification activities and logic according to ECSS-E-ST-10 and ECSS-E-ST-10-02.</li>
                        </ol>
                    </li>
                </ol>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>In-house</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>