<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>DRD-02.04 - Critical Items List (CIL)</title>

    <link rel="stylesheet" href="../page.css"/>
    <link rel="stylesheet" href="../drd.css"/>
</head>

<body>
<div th:fragment="content" id="drd-02.04">
    <table class="titel" aria-label="title">
        <tbody>
        <tr>
            <td><h2>DRD-02.04 - Critical Items List (CIL)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference" aria-label="reference">
        <tbody>
        <tr>
            <td rowspan="7">Reference:</td>
            <td>ECSS-Q-ST-10C</td>
            <td>Space product assurance - Product assurance</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-10-04C</td>
            <td>Space product assurance - Critical-item control</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-30C</td>
            <td>Space product assurance - Dependability</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-40C</td>
            <td>Space product assurance - Safety</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-60C</td>
            <td>Space product assurance - Electrical, electronic and electromechanical (EEE) components</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-70C</td>
            <td>Space product assurance - Material, mechanical parts and processes</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-80C</td>
            <td>Space product assurance - Software product assurance</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose" aria-label="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>To document and control critical items.</td>
        </tr>
        </tbody>
    </table>

    <table class="content" aria-label="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>This list shall include the following items used in flight equipmentt(according to ECSS-Q-ST-10-04C,
                Annex C):
                <ul>
                    <li>safety critical items,</li>
                    <li>dependability critical items</li>
                    <li>single point failure items,</li>
                    <li>fracture critical items,</li>
                    <li>items with limited operating life, shelf life or tolerance to environmental exposure (e.g.
                        vibration, acceleration, thermal, chemical, radiation) which warrants controlled surveillance
                        under specified conditions,
                    </li>
                    <li>critical PMPs and critical EEE parts,</li>
                    <li>software critical items,</li>
                    <li>items critical for integration</li>
                    <li>ITAR EEE component's</li>
                    <li>failures which are not readily detectable (no methods of generating a system advisory or
                        providing a visible indicator) by the flight or ground crew during any mission phase.
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format" aria-label="format">
        <tbody>
        <tr>
            <td>Format</td>
            <td>In-house form (example is provided according to ECSS-Q-10-04C, Annex A):
                <ul>
                    <li>Number: unique item identifier.</li>
                    <li>Critical item,</li>
                    <li>Risks associated,</li>
                    <li>Reference doc,</li>
                    <li>Criticality level,</li>
                    <li>Cause,</li>
                    <li>Control activities,</li>
                    <li>Due date</li>
                    <li>Status.</li>
                </ul>
            </td>
        </tr>

        </tbody>
    </table>

    <p><strong>Example of Critical Item List:<br/></strong></p>
    <div>
        <table class="word-wrap center-bold bordered show-empty" aria-label="critical item list">
            <thead>
            <tr>
                <th>No.</th>
                <th>Critical item</th>
                <th>Risk associated</th>
                <th>Reference doc.</th>
                <th>Criticality level</th>
                <th>Cause</th>
                <th>Control activities</th>
                <th>Due date</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <br/><br/>

    <table class="format bordered" aria-label="format">
        <tbody>
        <tr>
            <td>No.</td>
            <td>Unique item identifier.</td>
        </tr>
        <tr>
            <td>Critical item</td>
            <td>Identified critical item (e.g. unit, subsystem, equipment, component, material, process, and
                function).
            </td>
        </tr>
        <tr>
            <td>Risks associated</td>
            <td>Technical risk(s) associated with the critical item (refer to the associated entry in the Risk
                Register).
            </td>
        </tr>
        <tr>
            <td>Reference doc.</td>
            <td>Reference document in which the item is identified as critical.</td>
        </tr>
        <tr>
            <td>Criticality level</td>
            <td>In accordance with the critical item classification as defined in clause 5.2.3 of ECSS-Q-ST-10-04</td>
        </tr>
        <tr>
            <td>Cause</td>
            <td>Description of the cause which makes this item critical.</td>
        </tr>
        <tr>
            <td>Control activities</td>
            <td>(Refer to clause 5.2.4.2 Task 7 of ECSS-Q-ST-10-04). Planned activities to reduce or control the risk
                and statement of verification of the control implementation (e.g. design and operational requirements,
                test, inspection and failure history).
            </td>
        </tr>
        <tr>
            <td>Due date</td>
            <td>Expected completion date of activities.</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>Status of action: Open / Closed (with ref. to close-out docs.)</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
