<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-05.16">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-05.16 - Fault Tree Analysis (FTA)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="4">Reference:</td>
            <td>ECSS-Q-ST-30-11C</td>
            <td>Space product assurance - Derating - EEE components</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-40C</td>
            <td>Space product assurance - Safety</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-30C</td>
            <td>pace product assurance - Dependability</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-40-12C</td>
            <td>Space product assurance - Fault Tree Analysis - Adoption notice ECSS/IEC 61025</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>The analysis has to be performed on SPFs and hazardous items with special emphasis on analogue
                circuitry including power supplies, RF-circuitry, critical interfaces e.g. ECL devices and optocouplers
                and CMOS as well as power-MOS devices which are susceptible to ionizing radiation.
                The parameter degradation given in ECSS-Q-60-11 and ECSS-Q-30-11 shall be applied. Any adaptation of
                these data to the actual mission duration or the use of other data sources is subject for approval by
                DLR.
                Radiation dose values shall be taken from separate radiation analysis which takes into account the
                internal radiation shielding of the analysed equipment. In case of use of radiation non-resistant
                components, data on parameter degradation caused by radiation shall be provided by representative sample
                tests. At least twice the maximum degradation resulting from these tests shall be considered for worst
                case analysis.
                Non-compliances with the specified functional requirements which cannot be settled are subject to a
                Request for Waiver.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format</td>
            <td>The parameter deviation data shall be presented in tabular form similar to the derating analysis.
                The in-house format containing sufficient information on the assumptions, method and results shall be
                used.
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>