<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>DRD-05.06 - ATV Flight Safety Certificate (Form 879)</title>

    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-05.06">
    <table class="titel" aria-label="title">
        <tbody>
        <tr>
            <td><h2>DRD-05.06 - ATV Flight Safety Certificate (Form 879)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference" aria-label="reference">
        <tbody>
        <tr>
            <td rowspan="1">Reference:</td>
            <td>ESA-ATV-PR-13830</td>
            <td>ATV Pressurised Payload/Cargo Safety Certification Process</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose" aria-label="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>This DRD provides the template to establish the ATV Flight Safety Certificate.<br/>
                This DRD provides the minimum&#xa0; inputs to the ATV Cargo integrator in order to perform the
                integrated safety analysis.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content" aria-label="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>See ESA-ATV-PR-13830</td>
        </tr>
        </tbody>
    </table>

    <table class="format" aria-label="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>Form 879 in annex</td>
        </tr>
        </tbody>
    </table>

    <page-before align="center">
        <img src="drd-05.06_1.gif" class="center" width="599" height="815" alt="drd-05.06_1.gif"/>
    </page-before>

    <page-before align="center">
        <img src="drd-05.06_2.gif" class="center" width="560" height="911" alt="drd-05.06_2.gif"/>
    </page-before>

    <page-before align="center">
        <img src="drd-05.06_3.gif" class="center" width="591" height="713" alt="drd-05.06_3.gif"/>
    </page-before>

</div>
</body>
</html>