<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-04.03">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-04.03 - Reliability Prediction Report</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="5">Reference:</td>
            <td>MIL-HDBK-217</td>
            <td>Reliability Prediction of Electronic Equipment</td>
        </tr>
        <tr>
            <td>MIL-STD-756</td>
            <td>Reliability Modelling and Prediction</td>
        </tr>
        <tr>
            <td>MIL-HDBK-338</td>
            <td>Electronic Reliability Design Handbook</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-30C</td>
            <td>Space product assurance - Dependability</td>
        </tr>
        <tr>
            <td>ECSS-Q-HB-30-08</td>
            <td>Components reliability data sources and their use</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>To enable a transparent documentation of reliability prediction results.</td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>Reliability prediction reports shall contain the following information:
                <ul type="disc">
                    <li>scope,</li>
                    <li>applicable documents,</li>
                    <li>functional diagram and description indicating design status,</li>
                    <li>mission objectives describing primary and secondary functions to be performed by
                        system/equipment in order to achieve the mission success,
                    </li>
                    <li>duty cycles and/or accumulated total operating time during all phases,</li>
                    <li>reliability block diagram,</li>
                    <li>list of failure rates and the associated sources,</li>
                    <li>identification and description of the used mathematical model,</li>
                    <li>parts count matrix,</li>
                    <li>comparison between calculated and allocated values,</li>
                    <li>conclusions and recommendations.</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>The in-house format may be used.</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>