<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>

<body>
<div th:fragment="content" id="drd-03.14">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-03.14 - Cleanliness requirement specification (CRS)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="1">Reference:</td>
            <td>ECSS-Q-ST-70-01C</td>
            <td>Cleanliness and contamination control</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>The purpose of the cleanliness requirement specification (CRS) is to establish cleanliness and
                contamination levels to be achieved at different MAIT, launch and mission stages.<br/>
                Based on system or subsystem contamination budget, a CRS is established and agreed by all parties
                involved.<br/>
                The CRS defines and identifies the spacecraft items and the environmental areas that are sensitive to
                contamination; and describes the effects of contaminants on their performance.<br/>
                Specifying the spacecraft performance requirements to be met is the responsibility of the customer. The
                spacecraft performances specification is a major input parameter to define the acceptable contamination
                levels.<br/>
                The CRS provides the acceptable contamination levels for all on ground and inflight phases to guarantee
                that the mentioned spacecraft performances are met.<br/>
                On ground surface cleanliness levels are also univocally defined.
                <blockquote class="note">
                    By using ISO 14644 or IEST-STD-CC1246D
                </blockquote>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>
                <h4>Introduction</h4>
                The CRS shall give a general overview of the item to which the CRS refers, describing sensitive items
                and contamination sources, in consideration of:
                <ol>
                    <li>possible impacts of contaminants on their physical or functional characteristics;</li>
                    <li>possible effects of contamination on the performance;</li>
                    <li>their impact as potential sources of contamination</li>
                </ol>
                The CRS shall specify the pressures (or other molecular fluxes) that can be reached in connection with
                voltage breakdown, arcing, corona discharges, multipaction, opening time of shutters and ejection time
                of covers.

                <h4>Environmental factors</h4>
                The CRS shall basically specify major on-ground activities to be analysed for their impact on
                contamination and the relevant on-ground contamination environment. <br/>
                <p class="note">
                    Usually, the preparation of a flowchart, that can be added as appendix to the CRS, helps in the
                    description (see ECSS-Q-ST-70-01C, Annex C).
                </p>
                The CRS shall specify the flight environmental factors (natural and induced) that affect the
                contamination phenomena, such as solar radiation, electron, proton and AO fluxes, together with
                the planned mission profile/duration. <br/>
                The CRS shall specify sensitive item temperatures to be used for the analyses during ground and
                in-flight operations.
                <p class="note">
                    The expected temperatures and temperature profiles of these items can be important for condensation
                    and the residence times of the contaminants.
                </p>

                <h4>Contaminants</h4>
                The CRS shall describe all possible contamination sources to be analysed and the maximum acceptable
                emissions. <br/>
                <p class="note">
                    For example: Materials outgassing, lubricants escaping from bearings, wear particles from moving
                    parts, terrestrial contaminants such as dust, plume contaminants from thrusters and engines, leaks
                    from fuel systems and from hermetically sealed components, dumps and EVA, co–passengers, fairing and
                    equipment bay items of the launcher.
                </p>
                The CRS shall specify the chemical nature of these contaminants with their vapour pressures or relevant
                condensation conditions. <br/>
                The CRS shall specify the transport mechanisms of these potential contaminants from the sources to the
                contamination sensitive items or areas to be considered in the contamination analysis.<br/>

                <p class="note">
                    For example: direct flux, reflected flux, ambient scatter, self–scatter and creeping.<br/>
                    The CRS shall specify the contamination environment to be applied for design.
                </p>

                <p class="note">
                    For example, molecular column density, maximum molecular deposition on the sensitive items
                </p>

                <h4>Contamination budget</h4>
                The CRS shall specify all cleanliness requirements allocated to the major integration and testing
                phases. The CRS shall specify acceptable contamination levels of MOC and PAC for all on ground and
                in-flight
                phase
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>In-House</td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
