<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>DRD-03.06 - Mandatory Inspection Point Plan (MIP-Plan)</title>

    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-03.06">
    <table class="titel" aria-label="title">
        <tbody>
        <tr>
            <td><h2>DRD-03.06 - Mandatory Inspection Point Plan (MIP-Plan)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference" aria-label="reference">
        <tbody>
        <tr>
            <td rowspan="3">Reference:</td>
            <td>ECSS-Q-ST-20C</td>
            <td>Space product assurance - Quality assurance</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-70C</td>
            <td>Space product assurance - Materials, mechanical parts and processes</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose" aria-label="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>The purpose of this plan shall be to establish an inspection plan for inspections and tests at the
                points of manufacturing, assembly and integration, where maximum assurance for correct processing and
                prevention of unrecoverable or costly non-conformances can be obtained.<br/> <br/>
                All pre-flight safety inspections shall be assessed for inclusion in the plan.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content" aria-label="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>The plan shall define the MIPs. The plan shall identify those MIPs where DLR-RF shall be notified. <br/>
                Also, the plan shall include:
                <ul>
                    <li>inspection point description,</li>
                    <li>subsystem,</li>
                    <li>verification requirement (final inspection, functional performance etc.),</li>
                    <li>acceptance requirement (e.g. inspection of documentation),</li>
                    <li>report number,</li>
                    <li>location of inspection,</li>
                    <li>model (EM, QM, FM, etc.).</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format" aria-label="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>In-house</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>