<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../page.css"/>
    <link rel="stylesheet" href="../drd.css"/>
</head>

<body>
<div th:fragment="content" id="drd-02.03">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-02.03 - Product Assurance Reporting</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td>Reference:</td>
            <td>ECSS-Q-ST-10C</td>
            <td>Space product assurance - Product assurance management</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>To demonstrate progress in all areas of Product Assurance (PA) tasks and to highlight problem areas for
                the attention of DLR-RF.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>Depending on the phase of the programme and the tasks currently being performed the report shall
                include:
                <ul type="disc">
                    <li>Progress and accomplishment of each major product assurance task including resolved and new
                        problems,
                    </li>
                    <li>future planning of major activities and events,</li>
                    <li>Status of:
                        <ol style="list-style-type:lower-alpha">
                            <li>PA reviews (technical reviews, preparation status and conclusions),</li>
                            <li>PA documentation,</li>
                            <li>Audits and MIPs,</li>
                            <li>requests for Waiver, Deviation and Approval</li>
                            <li>Non conformances (minor and major),</li>
                            <li>Critical items (including mitigation action plan status),</li>
                            <li>Qualification,</li>
                            <li>EEE component,</li>
                            <li>Material and processes,</li>
                            <li>Alerts and Lessons Learned</li>
                        </ol>
                    </li>
                </ul>
                The PA progress report may be part of the project progress report.
                <p class="note">
                    The general contents of the project progress report are detailed in ECSS-M-ST-10 Annex E.
                </p>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>In-house</td>
        </tr>
        </tbody>
    </table>

    <page-before>
        <div style="margin-top: 300px;text-align:center">
            (THIS PAGE INTENTIONALLY LEFT BLANK)
        </div>
    </page-before>
</div>
</body>
</html>
