<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-05.11">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-05.11 - EP5 Battery Design Evaluation Form (ISS_EP_03)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="3">Reference:</td>
            <td>ISS_EP_03</td>
            <td>EP5 Battery Design Evaluation Form</td>
        </tr>
        <tr>
            <td>NSTS/ISS 13830C</td>
            <td>Payload Safety Review and Data Submittal Requirements</td>
        </tr>
        <tr>
            <td>JSC-20793B</td>
            <td>Crewed space vehicle battery safety requirements</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>The purpose of this form is to support the payload safety review process in order to assist the Payload
                Organizations (PO's) in documenting compliance with the payload requirements documents. Sufficient
                supporting data must be attached to the EP-form to demonstrate complete compliance with
                requirements.<br/> <br/>
                The objective of the safety review process is to review the payload, Ground Support Equipment (GSE), and
                operations for adequate safety implementation. The mission success and any scientific objectives of the
                payload are the responsibility of the PO and are beyond the scope of this document and process.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>Data submittal requirements included herein applies to hardware/battery being submitted to both the
                Payload Safety Review Panel (PSRP) and the Ground Safety Review Panel (GSRP) unless specified otherwise.
                The PSRP and the GSRP reserve the right to request additional data as deemed necessary to support safety
                documentation.<br/> <br/>
                The form shall be submitted:
                <ul type="disc">
                    <li>as part of the SDP or</li>
                    <li>submitted to the PSRP Executive Secretary/GSRP Chairman.</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>The ISS_EP_03 will be used as the standard form for the support.<br/>
                The relevant instructions are provided below.
            </td>
        </tr>
        </tbody>
    </table>

    <page-before align="center">
        <img src="drd-05.11_1.png" class="center" width="601" height="659"/>
    </page-before>

    <page-before align="center">
        <img src="drd-05.11_2.png" class="center" width="597" height="801"/>
    </page-before>

    <page-before align="center">
        <img src="drd-05.11_3.png" class="center" width="597" height="803"/>
    </page-before>

    <page-before align="center">
        <img src="drd-05.11_4.png" class="center" width="589" height="813"/>
    </page-before>

    <page-before align="center">
        <img src="drd-05.11_5.png" class="center" width="585" height="809"/>
    </page-before>

    <page-before align="center">
        <img src="drd-05.11_6.png" class="center" width="591" height="807"/>
    </page-before>

</div>
</body>
</html>