<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-05.05">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-05.05 - Gerätepaß</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="1">Reference:</td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>Applicable for usage of Russian STSVO only. Replaces the Certificate of Conformity (COC).</td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>A contractor's written statement, when authorized by contract, certifying that supplies or services
                comply with contract requirements.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>Form is provided in annex.</td>
        </tr>
        </tbody>
    </table>

    <page-before align="center">
        <img src="drd-05.05_1.gif" class="center" width="598" height="810"/>
    </page-before>

    <page-before align="center">
        <img src="drd-05.05_2.gif" class="center" width="604" height="810"/>
    </page-before>

    <page-before align="center">
        <img src="drd-05.05_3.gif" class="center" width="600" height="358"/>
    </page-before>

    <page-before align="center">
        <img src="drd-05.05_4.gif" class="center" width="600" height="474"/>
    </page-before>
</div>
</body>
</html>