<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>

<body>
<div th:fragment="content" id="drd-05.21">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-05.21 - Hazardous Materials Summary Table (JSC Form HMST)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="2">Reference:</td>
            <td>JSC 27472</td>
            <td>Requirements for Submission of Data Needed for Toxicological Assessment of Chemicals and Biologicals to
                be Flown on Manned Spacecraft.
            </td>
        </tr>
        <tr>
            <td>SSP-51700 Baseline</td>
            <td>Payload Safety Policy and Requirements for the International Space Station</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>Data on chemical and biological materials to be flown in the pressurized volumes of habitable
                spacecraft, including the International Space Station (ISS), are needed by NASA JSC toxicologists to
                assess the toxicity and assign hazard levels. This document defines submission schedules and establishes
                requirements for the types and format of these data. Adherence to these timelines and requirements will
                help eliminate unnecessary delays or obstacles to the toxicological approval of materials for flight.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>Toxicity Hazard Levels (THL) are assessed only for chemicals, although biological materials will also be
                listed in Hazardous Materials Summary Tables (HMSTs) and HazMat data files. Assessment of hazards
                associated with biological agents will be conducted separately by the JSC Biosafety Review Board (BRB)
                who will assign a BioSafety Level that will be listed in HMSTs and HazMat data files. Assessment of
                radioactive materials and assessment of materials for flammability will be conducted by the JSC
                Radiation Working Group and the JSC Material Sciences Branch respectively. Their assessment results will
                be included in HMSTs and HazMat data files. Thus, in addition to data that the hardware provider
                supplies separately to the JSC BRB, certain information on biological materials proposed for flight
                within pressurized volumes of habitable spacecraft must also be submitted to NASA JSC Toxicology in
                accordance with the guidelines described in the JSC Standard JSC 27472.<br/><br/>
                The ECLSS Hazard Level may eventually be reflected in the HMST<br/><br/>
                Material safety data sheets and data on physical or chemical properties need not be submitted if a
                material is identical in composition to that flown by the HW provider or PO representative and assessed
                by the NASA JSC toxicologists for a previous mission/flight. If there are no changes from the previous
                mission/flight, the HW provider or PO representative may submit a copy of the previous verified
                HMST. If only minor changes are planned, a marked-up copy of the previously approved HMST, showing the
                planned changes may be submitted.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>JSC HMST Forms are provided in annex.<br/>
                Forms can be also found at the following web site: <br/>
                http://www.nasa.gov/centers/johnson/slsd/about/divisions/hefd/facilities/toxicologyhmst.html
            </td>
        </tr>
        </tbody>
    </table>

    <page-before align="center">
        <img src="drd-05.21_1.gif" class="center" width="636" height="800"/>
    </page-before>

    <page-before align="center">
        <img src="drd-05.21_2.gif" class="center" width="636" height="800"/>
    </page-before>

    <page-before align="center">
        <img src="drd-05.21_3.gif" class="center" width="636" height="800"/>
    </page-before>

    <page-before align="center">
        <img src="drd-05.21_4.gif" class="center" width="636" height="800"/>
    </page-before>
</div>
</body>
</html>
