<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-06.08">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-06.08 - EEE Justification Document</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="1">Reference:</td>
            <td>ECSS-Q-ST-60-13C</td>
            <td>Space product assurance - Quality assurance</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td> The JD is a control document the objective of which is to identify the component and to provide
                information about it , its evaluation and its acceptability w.r.t.:
                <ul>
                    <li>component/ manufacturer data</li>
                    <li>approval status</li>
                    <li>evaluation tests</li>
                    <li>procurement inspections and tests</li>
                    <li>lot acceptance or lot verification tests</li>
                    <li>radiation hardness data and RVT</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td> The JD shall include:
                <ol>
                    <li>Family/ sub-family</li>
                    <li>Part number (commercial designation)</li>
                    <li>Ordering information</li>
                    <li>Functional description (major parameters for the application)</li>
                    <li>Package</li>
                    <li>Manufacturer (country)</li>
                    <li>Temperature range</li>
                    <li>Absolute maximum rating (Tj max, Pd max, Vcc max,)</li>
                    <li>Procurement specification/ data sheet (revision, date), Application notes &amp; errata sheet
                    </li>
                    <li>Manufacturer screening &amp; other manufacturer test on procured lot</li>
                    <li>Manufacturer parts traceability (trace-code, date-code, assembly plant, wafer fab, diffusion
                        lot)
                    </li>
                    <li>PCN (Service &amp; for selected parts)</li>
                    <li>Obsolescence (Yes/No)</li>
                    <li>Technology (CMOS, bipolar, and if available process name)</li>
                    <li>Life cycle maturity (emerging/maturity/decline)</li>
                    <li>Technologies with less than one year introduction (yes/no)</li>
                    <li>Moulding characteristics (Tg)</li>
                    <li>Moisture sensitivity level</li>
                    <li>Internal pure tin (Yes/No)</li>
                    <li>Lead finish (RoHs)</li>
                    <li>Justification of the need/ Trade off with Hirel and other commercial sources</li>
                </ol>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Supporting Data</td>
            <td> The JD shall include:
                <ol>
                    <li>Qualification status /Hirel or automotive parts (same technology)</li>
                    <li>OQ/ EFR/ periodic tests</li>
                    <li>Qualification data</li>
                    <li>Other data / experiences (evaluation, alert, radiation, assembly,)</li>
                    <li>Demonstration of the representativeness of reliability data the supporting data</li>
                </ol>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Evaluation Plan</td>
            <td> The JD shall include:
                <ol>
                    <li>Evaluation plan with flow diagram</li>
                    <li>Preliminary and final internal suppliers specification</li>
                </ol>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Additional test on flight lot</td>
            <td> The JD shall include:
                <ol>
                    <li>LAT /screening and RVT plan with flow diagram and test conditions and acceptance criteria
                        (including drift calculation)
                    </li>
                </ol>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Procurement data</td>
            <td> The JD shall include:
                <ol>
                    <li>Traceability information (trace-code, date-code, assembly plant, wafer fab, diffusion lot and
                        die revision)
                    </li>
                </ol>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Appendix</td>
            <td> The JD shall include:
                <ol>
                    <li>A copy of the procurement specification / data sheet</li>
                    <li>Traceability information (CoC, PCN)</li>
                </ol>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Special remarks</td>
            <td>Check if this section can be removed (OZ)</td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>In-house</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>