<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>DRD-05.25 - Safety Verification Tracking Log (ECSS-Q-ST-40 Form)</title>

    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-05.25">
    <table class="titel" aria-label="title">
        <tbody>
        <tr>
            <td><h2>DRD-05.25 - Safety Verification Tracking Log (ECSS-Q-ST-40 Form)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference" aria-label="reference">
        <tbody>
        <tr>
            <td>Reference:</td>
            <td>ECSS-Q-ST-40C</td>
            <td>Space product assurance - Safety</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose" aria-label="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>As part of the Safety Data Package (SDP), a SVTL log collects all the open safety verification items
                from the different safety analysis/hazard reports of the SDP at the end of the production and
                qualification phase of the project.<br/>
                It provides information of the verification effort and gives reference to the close out documents (e.g.
                test reports, analyses, and procedures).<br/>
                Depending on the number and severity of the open verification items it can be the basis for the decision
                to put the next processing steps (like acceptance or integration into the next higher level) into
                hold.<br/>
                The SVTL is based on:
                <ul>
                    <li>inputs from the different safety verification tasks i.e. hardware and software changes, tests,
                        review of design activities, analyses, inspections and development of procedures which are
                        performed as agreed per "hazard reports" of the Flight-SDP (FSDP) and the Ground-SDP (GSDP) -or
                        a combination thereof,
                    </li>
                    <li>other information like constraints and schedule.</li>
                </ul>
                <p class="note">
                    The SVTL is part of the SDP at the end of the qualification phase.
                </p>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content" aria-label="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>
                <h4>1. General information:</h4>
                <ol style="list-style-type:lower-alpha">
                    <li>The SVTL shall identify the following general information:
                        <ul>
                            <li>name of the project for which it has been established;</li>
                            <li>project documentation identification number;</li>
                            <li>applicability for flight or ground safety verifications;</li>
                            <li>indication of the specific page number followed by the total number of pages;
                            </li>
                            <li>name of the equipment, payload or experiment for which the SVTL has been established;
                            </li>
                            <li>mission or flight to which the equipment, payload or experiment has been manifested.
                            </li>
                            <li>dates of issue and update.</li>
                        </ul>
                    </li>
                </ol>

                <h4>2. Log number</h4>
                <ol style="list-style-type:lower-alpha">
                    <li>For each verification item to be tracked a unique identifier shall be used.</li>
                    <li>The SVTL shall use the designations assigned by the safety manager.</li>
                </ol>

                <h4>3. Hazard report number</h4>
                <ol style="list-style-type:lower-alpha">
                    <li>The identification number of the hazard report containing the verification item shall be
                        indicated.
                    </li>
                </ol>

                <h4>4. Safety verification number</h4>
                <ol style="list-style-type:lower-alpha">
                    <li>The verification method or the verification means shall be transferred from the hazard report
                        including the procedures by number and title.
                    </li>
                </ol>

                <h4>5. Ground operations constrained</h4>
                <ol style="list-style-type:lower-alpha">
                    <li>The input of "yes" or "no" shall indicate whether this safety verification constrains any ground
                        operations.
                    </li>
                    <li>If "yes" for flight tracking log: an attachment shall be provided that identifies which ground
                        operation is constrained.
                    </li>
                    <li>If "yes" for ground tracking log: the ground operation constrained by this verification shall be
                        indicated specifically in the user manual and included as a step in a procedure.
                    </li>
                </ol>

                <h4>6. Independent verification required, "yes" or "no"</h4>
                <ol style="list-style-type:lower-alpha">
                    <li>The inputs "yes" or "no" shall indicate whether the verification has to be performed
                        indipendently.
                    </li>
                </ol>

                <h4>7. Scheduled completion data</h4>
                <ol style="list-style-type:lower-alpha">
                    <li>The planned date for the completion of the verification shall be indicated.</li>
                </ol>

                <h4>8. Method of closure/comments</h4>
                <ol style="list-style-type:lower-alpha">
                    <li>The SVTL log shall indicate the title and serial number of the tests, review of designs,
                        inspections and analyses by which this verification is formally closed.
                    </li>
                    <li>Any appropriate information or remarks may be added.</li>
                </ol>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format" aria-label="format">
        <tbody>
        <tr>
            <td>Format</td>
            <td>An example of a format that can be used for the SVTL is presented in annex</td>
        </tr>
        </tbody>
    </table>

    <page-before>
        <img src="drd-05.25.gif" class="center" width="453" height="800" alt="drd-05.25.gif"/>
    </page-before>
</div>
</body>
</html>