<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-05.18">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-05.18 - ISS Flight Hardware Standard Hazard Control Report (ISS_OE_1298)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="4">Reference:</td>
            <td>ECSS-Q-ST-40-02C</td>
            <td>Space product assurance - Hazard analysis</td>
        </tr>
        <tr>
            <td>SSP-51700 Baseline</td>
            <td>Payload Safety Policy and Requirements for the International Space Station</td>
        </tr>
        <tr>
            <td>NSTS/ISS 13830</td>
            <td>Payload Safety Review and Data Submittal Requirements</td>
        </tr>
        <tr>
            <td>ISS_OE_1298</td>
            <td>ISS Flight Hardware Standard Hazard Control Report</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>The Flight Hardware Standard Hazard Control Report has been developed for payloads with routine
                hazards/standard controls/verifications which may be approved by Payload Safety Review Panel (PSRP)
                without a formal meeting. No specific HR&#xa0; is required for the standard hazards. Details see NSTS
                13830, section 5.4.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>The report shall show that the standard hazards are controlled and verified in compliance with the
                standard design requirements.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>ISS_OE_1298 for NASA and ESA projects&#xa0;(example and instructions for completing the form see below)
                Dedicated form for Russian projects shall be used.
            </td>
        </tr>
        </tbody>
    </table>

    <page-before align="center">
        <img src="drd-05.18_1.png" class="center" width="682" height="884"/>
    </page-before>

    <page-before align="center">
        <img src="drd-05.18_2.png" class="center" width="670" height="880"/>
    </page-before>

    <page-before align="center">
        <img src="drd-05.18_3.png" class="center" width="672" height="882"/>
    </page-before>

    <page-before align="center">
        <img src="drd-05.18_4.png" class="center" width="669" height="888"/>
    </page-before>

    <page-before align="center">
        <img src="drd-05.18_5.png" class="center" width="673" height="886"/>
    </page-before>

    <page-before align="center">
        <img src="drd-05.18_6.png" class="center" width="675" height="888"/>
    </page-before>

</div>
</body>
</html>