<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../page.css"/>
    <link rel="stylesheet" href="../drd.css"/>
</head>

<body>
<div th:fragment="content" id="drd-05.26">
    <table class="titel">
        <tbody>
        <tr>
            <td>
                <h2>DRD-05.26 - ISS Flight HW Standard Hazard Control Sheet(ISS_OE_1298)</h2>
            </td>
        </tr>
        </tbody>
    </table>


    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="2">Reference:</td>
            <td>SSP-51700 Baseline-DCN004</td>
            <td>Payload Safety Policy and Requirements for the International Space Station</td>
        </tr>
        <tr>
            <td>SSP-30599</td>
            <td>safety Review Process</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>The Flight Payload Standardized Hazard Control Report has been developed for payloads with
                routine hazards/standard controls/verifications which may be approved by Payload Safety Review Panel
                (PSRP) without a formal meeting. No specific HR&nbsp; is required for the standard hazards. Details see
                SSP 30599, section 4.5.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>The report shall show that the standard hazards are controlled and verified in compliance
                with the standard design requirements.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>ISS_OE_1298 for NASA projects
                (Example and instructions for completing the form see below).<br/>
                Electronic form to be used: https://hazard.iss.nasa.gov (password required).<br/>
                Information:<br/>
                A <strong>NASA Smartcard</strong> or <strong>RSA token</strong> is required for
                login. If you do not have access to either login method, please send an email request to JST IT
                Customer service (jsc-iss-it-customer-service@mail.nasa.gov) to request a NASA RSA Token.
            </td>
        </tr>
        </tbody>
    </table>

    <page-before align="center">
        <img border="1" src="drd-05.29_p_1.png" class="center" width="618" height="800"/>
    </page-before>

    <page-before>
        <img border="1" src="drd-05.29_p_2.png" class="center" width="618" height="800"/>
    </page-before>

    <page-before>
        <img border="1" src="drd-05.29_p_3.png" class="center" width="618" height="800"/>
    </page-before>

    <page-before>
        <img border="1" src="drd-05.29_p_4.png" class="center" width="618" height="800"/>
    </page-before>

    <page-before>
        <img border="1" src="drd-05.29_p_5.png" class="center" width="618" height="800"/>
    </page-before>

    <page-before>
        <img border="1" src="drd-05.29_p_6.png" class="center" width="579" height="750"/>
        <p class="note">
            This form must be signed by the payload organization programme manager before the safety data package
            (SDP) is submitted.
        </p>
    </page-before>

    <page-after>
        <div style="margin-top: 300px;text-align:center">
            (THIS PAGE INTENTIONALLY LEFT BLANK)
        </div>
    </page-after>
</div>
</body>
</html>