<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-05.12">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-05.12 - ISS Payload Safety Requirements Application Matrix</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="1">Reference:</td>
            <td>SSP-51700 baseline</td>
            <td>Payload Safety Policy and Requirements for the International Space Station</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>The matrix shall provide a systematic approach for identifying those SSP-51700 requirements applicable
                to a particular payload element. The purpose of the matrix is to provide objective evidence that the PED
                has considered every requirement of the SSP-51700 in assessing the safety of his proposed design.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>
                <ul>
                    <li>According to example below</li>
                    <li>Initially submitted at Phase = Review to NASA</li>
                    <li>Update for each future PED safety data submittal</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <page-before align="center">
        <img src="drd-05.12_1.gif" class="center" width="600" height="898"/>
    </page-before>

    <page-before align="center">
        <img src="drd-05.12_2.gif" class="center" width="600" height="887"/>
    </page-before>

    <page-before align="center">
        <img src="drd-05.12_3.gif" class="center" width="600" height="895"/>
    </page-before>

    <page-before align="center">
        <img src="drd-05.12_4.gif" class="center" width="600" height="891"/>
    </page-before>

</div>
</body>
</html>