<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-05.20">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-05.20 - Fire Detection and Suppression Reporting Form (JSC Form 1428)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="3">Reference:</td>
            <td>NSTS 22648</td>
            <td>Flammability Configuration Analysis for Spacecraft Applications</td>
        </tr>
        <tr>
            <td>SSP-51700 Baseline</td>
            <td>Payload Safety Policy and Requirements for the International Space Station</td>
        </tr>
        <tr>
            <td>NSTS/ISS 13830</td>
            <td>Payload Safety Review and Data Submittal Requirements</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>Fire protection requirements reflect the operating environment that is of extended duration with low
                personnel density in the habitable volumes. These requirements are intended to be consistent with the
                standard operational ISS crew responses where practical using standardized design and operations
                approaches. Fire event detection is required to provide timely notification to the crew of a fire event
                for all potential fire event locations within the payload. Spacecraft fire-safety strategy emphasizes
                prevention, mostly through the selection of onboard items classified according to their fire resistance.
                For human-crew spacecraft, fire prevention is promoted by the use of materials and assemblies that are
                classified and selected by their fire resistance Experience has shown that combustible materials will
                accumulate (i.e., waste products, testing equipment materials, documents, etc.), configurations will
                change, and the chance of human error will increase.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>Fire Event Detection is required to provide timely notification to the crew of a fire event for all
                potential fire event locations within the payload. Per NSTS 22648 ignition source / source of heat
                sufficiently intense localized to induce combustion. For flammability considerations, any electrical
                wire or elevated temperature component is considered an ignition source. Monopropellants, strong
                oxidizers, bases, etc. must also be considered For ISS payloads a finalized FDS implementation approach.
                Include information on use of forced air, wire derating, circuit protection, materials usage, parameter
                monitoring (fan speeds, temperatures, current, etc.) and responses to an out-of-limit condition. For
                sub-rack payloads, the PO shall address the final integrated system approach (using sub-rack services
                and/or ISS services) to fully define the FDS implementation strategy. Final JSC Form 1428 to summarize
                the results of the completed tests, analyses, and/or inspections and refer to particular test reports by
                document number, title and date. JSC Form 1428 provides summary table.
                <ul type="disc">
                    <li>Applicable mission phases</li>
                    <li>Payload volumes</li>
                    <li>Prevention, detection and suppression along with verifications. (Prevention referred to Form
                        1230)
                    </li>
                    <li>All verifications must be closed by Phase III</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>FDS Reporting Form see JSC Form 1428 (see next page)</td>
        </tr>
        </tbody>
    </table>

    <page-before>
        <table class="grid" cellpadding="5px">
            <colgroup>
                <col width="20%"/>
                <col width="20%"/>
                <col width="20%"/>
                <col width="20%"/>
                <col width="20%"/>
            </colgroup>
            <thead>
            <tr>
                <th colspan="5"><b>Fire Detection and Suppression Reporting Form</b></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="2">a. Number:</td>
                <td colspan="3">b. Mission Phase:</td>
            </tr>
            <tr>
                <td colspan="5">c. Payload Name:</td>
            </tr>
            <tr>
                <td colspan="5">d. Fire Prevention:</td>
            </tr>
            <tr>
                <td>e. Payload Volume</td>
                <td>f. Fire Detection Method</td>
                <td>g. Verification Method, Reference&#xa0; and Status</td>
                <td>h. Suppression Method</td>
                <td>i. Verification Method, Reference and Status</td>
            </tr>
            <tr>
                <td>Volume 1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Volume 2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td> Volume 3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Volume 4</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Volume 5</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Volume "n"</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>j. Signatures:</td>
                <td colspan="2"> Payload Organization</td>
                <td colspan="2"> SSP/ISS</td>
            </tr>
            <tr>
                <td>Phase I</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Phase II</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Phase III</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            </tbody>
        </table>

        <br/>

        <b><u>JSC Form 1428 </u></b>is applicable to all ISS Payloads. Instructions for the completion of Fire Detection
        and
        Suppression Reporting Form follow:
        <ol style="list-style-type:lower-alpha">
            <li><b>Number</b><br/>
                A unique alphanumeric designation provided by the payload organization or hardware developer that will
                be used to track this hazard report. The prefix "FDS" is used to identify this report as a Fire
                Detection and Suppression Report.
            </li>
            <li><b>Mission Phase</b><br/>
                Identify applicable mission phase e.g. Increment # tbd, On-Orbit Operations.
            </li>
            <li><b>Payload Name</b><br/>
                Full name of payload with abbreviated name.
            </li>
            <li><b>Fire Prevention</b><br/>
                Cross reference JSC Form 1230 and applicable hazards e.g. "Electrical Power Distribution" and
                "Flammability".
            </li>
            <li><b>Payload Volume</b><br/>
                Unique volumes to be identified with name, e.g. Rack, Container, Box, etc.
            </li>
            <li><b>Fire Detection Method</b><br/>
                Identified method used to assure the effectiveness of the hazard control.
            </li>
            <li><b>Verification Method, Reference and Status</b><br/>
                Summarize the results of the analyses, or completed tests. Refer to particular test reports by document
                number and title. Indicate the status of the activity.
            </li>
            <li><b>Suppression Method</b><br/>
                Identified method used to assure the effectiveness of the hazard control.
            </li>
            <li><b>Verification Method, Reference and Status</b><br/>
                Summarize the results of the analyses, or completed tests. Refer to particular test reports by document
                number and title. Indicate the status of the activity.
            </li>
        </ol>
    </page-before>
</div>
</body>
</html>