<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-05.23">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-05.23 - In-flight Biohazardous Materials Approval Form (JSC Form 713)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="3">Reference:</td>
            <td>SSP 63828</td>
            <td>Biosafety Review Board - Operations and Requirements Document</td>
        </tr>
        <tr>
            <td>JSC 27472</td>
            <td>Requirements for Submission of Data Needed for Toxicological Assessment of Chemicals and Biologicals to
                be Flown on Manned Spacecraft.
            </td>
        </tr>
        <tr>
            <td>SSP-51700, Baseline</td>
            <td>Payload Safety Policy and Requirements for the International Space Station</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>The mission of the Johnson Space Center (JSC) Biosafety Review Board (BRB) is to provide safety policy
                and operational-level guidance to the Center and its contractors for in-flight and ground-based
                activities involving the use of biohazardous materials. Functions of the BRB include developing and
                monitoring an inventory for onsite biohazardous materials, providing guidelines for systematic
                inspection of facilities in which biohazardous materials are utilized, and evaluating in-flight and
                ground-based experiments involving biohazardous materials These requirements also apply to any
                ground-based experiments at JSC facilities involving biohazardous materials and any JSC facilities that
                store biohazardous materials. It is the policy of the BRB that all payloads containing biological
                materials and all ground-based experiments utilizing biological materials shall be assessed. Each
                identified biohazardous agent/material shall be assigned a NASA BSL. Adherence to the required timelines
                for submission of the payload data is critical for the BRB to prepare and distribute assessment prior to
                payload safety reviews. Once the BRB has assessed the biological material and determined the BSL, the
                BRB will send notification of the completed assessment to the Payload Organization representative and
                representatives of the appropriate NASA safety panel. It is required that the "In-flight Biohazardous
                Materials Approval Form" shall be submitted to the BRB no later than L-4.5 months for cargo carriers and
                ISS elements. A BRB memorandum stating the designated NASA in-flight BSL will be distributed within 3
                weeks after all the required information have been received.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>The form defines the requirements for tracking biohazardous materials that are stored at JSC facilities
                and the requirements for inspecting JSC facilities utilizing biohazardous materials. The following
                information must be provided to the BRB in order to obtain an in-flight payload biohazardous
                material(s) assessment and approval:
                <ul type="disc">
                    <li>Contact Information
                        <ul type="circle">
                            <li>The principal investigator's name, title, affiliation, address, telephone number, and
                                fax number.
                            </li>
                            <li>The contact information for the principal investigator's alternate/backup (if
                                available).
                            </li>
                        </ul>
                    </li>
                    <li>Payload Information
                        <ul type="circle">
                            <li>The name of the experiment.</li>
                            <li>The name and acronym of payload (if different than the name of the experiment).</li>
                            <li>The experiment number and acronym.</li>
                            <li>The Shuttle mission number.</li>
                            <li>The International Space Station expedition number.</li>
                            <li>The launch vehicle and launch date.</li>
                            <li>The return vehicle and return date.</li>
                            <li>The in-flight storage and use location.</li>
                        </ul>
                    </li>
                    <li>Biological Materials Information
                        <ul type="circle">
                            <li>A detailed description of the experimental protocol.</li>
                            <li>The identification and origin of the biological material (s) to be assessed.</li>
                            <li>Indicate if the biological materials are known human pathogens or contain pathogens.
                            </li>
                            <li>The Biosafety Level (BSL) of the biological material, if known.</li>
                            <li>The maximum concentration of each biological sample and the maximum number of samples.
                            </li>
                            <li>The American Type Culture Collection (ATCC) number (s) for the biological material (s),
                                if known.
                            </li>
                            <li>Indicate if cell cultures of human origin are free of Hepatitis A, B, C, HTLV 1 and 2,
                                and HIV 1 and 2.
                            </li>
                            <li>The proprietary nature of the biological data.</li>
                            <li>Indicate if animals will be used.</li>
                        </ul>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>JSC 713 Form see next page.</td>
        </tr>
        <tr>
            <td> &#xa0;</td>
            <td>
                <div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <page-before align="center">
        <img src="drd-05.23_1.gif" class="center" width="569" height="667"/>
    </page-before>

    <page-before align="center">
        <img src="drd-05.23_2.gif" class="center" width="569" height="667"/>
    </page-before>

</div>
</body>
</html>