<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-05.22">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-05.22 - Ground-Based Biohazardous Materials Approval Form (JSC Form 712)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="3">Reference:</td>
            <td>SSP 63828</td>
            <td>Biosafety Review Board - Operations and Requirements Document</td>
        </tr>
        <tr>
            <td>JSC 27472</td>
            <td>Requirements for Submission of Data Needed for Toxicological Assessment of Chemicals and Biologicals to
                be Flown on Manned Spacecraft.
            </td>
        </tr>
        <tr>
            <td>SSP-51700<br/> Baseline</td>
            <td>Payload Safety Policy and Requirements for the International Space Station</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td> The mission of the Johnson Space Center (JSC) Biosafety Review Board (BRB) is to provide safety policy
                and operational-level guidance to the Center and its contractors for in-flight and ground-based
                activities involving the use of biohazardous materials. Functions of the BRB include developing and
                monitoring an inventory for onsite biohazardous materials, providing guidelines for systematic
                inspection of facilities in which biohazardous materials are utilized, and evaluating in-flight and
                ground-based experiments involving biohazardous materials. These requirements also apply to any
                ground-based experiments at JSC facilities involving biohazardous materials and any JSC facilities that
                store biohazardous materials. It is the policy of the BRB that all payloads containing biological
                materials and all ground-based experiments utilizing biological materials shall be assessed. Each
                identified biohazardous agent/material shall be assigned a NASA BSL. It is required that the
                "Ground-Based Biohazardous Materials Approval Form" shall be submitted to the BRB at least 2 weeks prior
                to the experiment.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>The form defines the requirements for tracking biohazardous materials that are stored at JSC facilities
                and the requirements for inspecting JSC facilities utilizing biohazardous materials.<br/>
                The following information must be provided to the BRB in order to obtain a groundbased biological
                material(s) assessment and approval:
                <ul type="disc">
                    <li>Contact Information
                        <ul type="circle">
                            <li>The principal investigator's name, title, organization, affiliation, location, and
                                telephone
                                number.
                            </li>
                        </ul>
                    </li>
                    <li>Experiment Information
                        <ul type="circle">
                            <li>The location of the experiment.</li>
                            <li>The names of personnel handling the biological material.</li>
                        </ul>
                    </li>
                    <li>Biological Materials Information
                        <ul type="circle">
                            <li>A detailed description of the biological materials and experimental protocol.</li>
                            <li>The origin of the biological material.</li>
                            <li>Indicate if the biological material poses any potential hazards to personnel.</li>
                            <li>Indicate if humans are susceptible to infection by the biological material.</li>
                            <li>Indicate if medical surveillance is required.</li>
                            <li>Indicate if immunization is required.</li>
                            <li>Indicate if animals will be used.</li>
                            <li>Indicate if any type of regulated radiation will be used.</li>
                            <li>The Biosafety Level (BSL) of the biological material, if known.</li>
                            <li>The maximum concentration of each biological sample and the maximum number of samples.
                            </li>
                            <li>The American Type Culture Collection (ATCC) number (s) for the biological material (s),
                                if
                                known.
                            </li>
                            <li>Indicate if cell cultures of human origin are free of Hepatitis A, B, C, HTLV 1 and 2,
                                and
                                HIV 1 and 2.
                            </li>
                            <li>The proprietary nature of the biological data.</li>
                        </ul>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>JSC 712 Form see next page.</td>
        </tr>
        </tbody>
    </table>

    <page-before align="center">
        <img src="drd-05.22.gif" class="center" width="783" height="1109"/>
    </page-before>

</div>
</body>
</html>