<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-03.10">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-03.10 - End Item Data Package (EIDP) for deliverable Hardware (ESA)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="2">Reference:</td>
            <td>ECSS-Q-ST-20C</td>
            <td>Space Product Assurance - Quality assurance</td>
        </tr>
        <tr>
            <td>ECSS-E-ST-10-02C</td>
            <td>Space Engineering - Verification</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>
                The EIDP is the collection of the data related to the manufacturing, assembly, integration and test
                of a deliverable configuration item which provides the necessary traceability and events record.<br/>
                The EIDP shall constitute the basis to support the formal acceptance of the product.<br/>
                The document shall be built from the beginning of the activity for all relevant verification levels
                (i.e. MIP, TRR or TRB) as required by the contractual requirements. It is used to perform the TRB or
                DRB with the customer during the acceptance review of deliverable HW.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>
                <h4>Title (see example cover page)</h4>
                Proper references shall be selected to clearly identify the product and the relevant applicable
                documents.<br/>
                For example:
                <ul>
                    <li>Item description</li>
                    <li>Product specification</li>
                    <li>Serial number</li>
                    <li>Drawing</li>
                    <li>Model</li>
                    <li>CI number</li>
                    <li>Contract number.<br/></li>
                </ul>

                <h4>Section 1</h4>
                <ul>
                    <li>The customer follow-up sheet to record all the events after the product final delivery</li>
                    <li>The customer acceptance certificate</li>
                    <li>The DRB minutes<br/>
                        <p class="note">
                            The shipping document even if it is not part of the EIDP shall be available at the time of
                            delivery.
                        </p>
                    </li>
                </ul>

                <h4>Section 2</h4>
                The EIDP front sheet and the contents.

                <h4>Section 3</h4>
                The EIDP change record.

                <h4>Section 4</h4>
                The product certificate of conformity as defined in the relevant DRD, including NCR list.

                <h4>Section 5</h4>
                As-design as-built configuration status.

                <h4>Section 6</h4>
                The summary and status of RFDs and RFWs raised and processed on the product.

                <h4>Section 7</h4>
                Product definition documents necessary for further integration, testing and operation in higher level
                assemblies including the SW used to operate the item and the product user or operating manuals.

                <h4>Section 8</h4>
                The product logbook, which includes all the data recorded in chronological order to allow a full
                traceability of the manufacturing, assembly, integration and test activities performed on the item.

                <h4>Section 9</h4>
                The procedures necessary for the proper handling of the product after its final delivery. Typically
                these procedures cover aspects, such as:
                <ul>
                    <li>packing,</li>
                    <li>handling,</li>
                    <li>storage,</li>
                    <li>transportation,</li>
                    <li>safety, and</li>
                    <li>cleanliness.<br/></li>
                </ul>

                <h4>Section 10</h4>
                The copies of the product test reports, or as a minimum the list of the documents with the
                identification of their location.

                <h4>Section 11</h4>
                The list of all the ground support equipment (MGSE, EGSE, FGSE, OGSE) with the reference to the relevant
                EIDPs and SW product.

                <h4>Section 12</h4>
                The list of EIDPs or logbooks of units and subsystem supplied by lower tier suppliers.

                <h4>Section 13</h4>
                The list of the loose items and not installed items supplied with the product.

                <h4>Section 14</h4>
                This section shall be identified as "Other data and remarks" and shall be used to add any useful
                information or data relevant to the product and not included in the standard EIDP sections.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>Supplier in-house document (structure use following list, the completeness is to be checked against the
                list).
            </td>
        </tr>
        </tbody>
    </table>

    <page-before>
        <img src="drd-03.10.gif" class="center" width="650" height="726"/>
    </page-before>

    <page-before>
        <b>Example of EIDP cover page</b>
        <table class="bordered show-empty word-wrap center-bold" style="table-layout: auto">
            <thead>
            <tr>
                <td rowspan="2" colspan="4">EIDP contents</td>
                <td>EIDP no.</td>
            </tr>
            </thead>
            <colgroup>
                <col style="width: 15%;"/>
                <col style="width: 50%"/>
                <col style="width: 11%;"/>
                <col style="width: 13%;"/>
                <col style="width: 11%;"/>
            </colgroup>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td>Included</td>
                <td>Vol. no</td>
                <td>Remarks</td>
            </tr>
            <tr>
                <td>Section 1</td>
                <td>Customer follow-up sheet,<br/> DRB minutes, customer acceptance certificate if not
                    covered by DRB minutes
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Section 2</td>
                <td>EIDP front sheet and contents</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Section 3</td>
                <td>EIDP change record</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Section 4</td>
                <td>Certificate of conformity</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Section 5</td>
                <td>As-design as-built configuration status</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Section 6</td>
                <td>Request for waivers and NCR list (NCR, RFW, or RFD) summary</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Section 7</td>
                <td>Operation documentation
                    <ul type="disc">
                        <li>Interface drawings</li>
                        <li>User or operating manuals</li>
                        <li>Operational SW list</li>
                    </ul>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Section 8</td>
                <td>Logbook</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Section 9</td>
                <td>Procedures for e.g. packing, handling, storage, transportation, safety, and
                    cleanliness
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Section 10</td>
                <td>Test report</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Section 11</td>
                <td>Ground support equipment (GSE) and SW product list</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Section 12</td>
                <td>EIDPs or logbooks list (SBCOs HW, GSE)</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Section 13</td>
                <td>Loose item list (not installed items and spares)</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Section 14</td>
                <td>Other data and remarks</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </page-before>

</div>
</body>
</html>
