<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-11.01">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-11.01 - Space Debris Mitigation Declaration</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td>Reference:</td>
            <td>DLR-RF-PS-001</td>
            <td>Product Assurance &amp; Safety Requirements for DLR-Space Projects</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>The objective of the Space Debris Mitigation Declaration shall be to provide a brief summary of all
                design measures and operational procedures applicable to limit the creation of orbital debris and,
                therefore, to limit the risk to other current and future space missions and to limit the risk to human
                life due to generated orbital debris.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>As below</td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>As below<br/> Form will be provided by DLR per WORD-file.</td>
        </tr>
        </tbody>
    </table>

    <page-before>
        <img src="drd-11.01_1.gif" class="center" width="581" height="940"/>
    </page-before>

    <page-before>
        <img src="drd-11.01_2.gif" class="center" width="585" height="940"/>
    </page-before>

    <page-before>
        <img src="drd-11.01_3.gif" class="center" width="583" height="940"/>
    </page-before>

    <page-before>
        <img src="drd-11.01_4.gif" class="center" width="598" height="940"/>
    </page-before>

</div>
</body>
</html>