<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>

<body>
<div th:fragment="content" id="drd-XX.YY">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-XX.YY - Title</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <!-- rowspan bitte auf Anzahl Referenzen erhöhen -->
            <td rowspan="1">Reference:</td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <!-- Bespiel für Bild nach Seitenumbruch -->
    <page-before align="center">
        <img src="drd-xx.yy.gif" class="center" width="620" height="584"/>
    </page-before>
</div>
</body>
</html>
