<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-04.17">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-04.17 - Availability Assessment Report</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="1">Reference:</td>
            <td>ECSS-Q-ST-30-09</td>
            <td> Space product assurance - Availability analysis</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>The availability analysis performed in each project phase shall contribute to the preparation of
                specifications, trade‐off reports, and availability assessment reports.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>
                <ul type="disc">
                    <li>The availability evaluations and considerations shall be clearly described with the relevant
                        data and assumptions.
                    </li>
                    <li>The availability assessment report shall provide all the information needed to understand
                        correctly the evaluations performed and to allow appropriate integration of the results obtained
                        with the higher level analysis.
                    </li>
                    <li>The availability assessment report shall cover the following aspects:</li>
                </ul>
                <blockquote>
                    <ol>
                        <li>A self‐standing description of the system or equipment baseline, logistics support and
                            operations.
                        </li>
                        <li>The content, derived from the relevant reports, useful for acquiring all the elements taken
                            into account in the availability model.
                        </li>
                        <li>The availability requirements description and interpretation (to enable the verification of
                            the correct requirement implementation).
                        </li>
                        <li>The availability model description (including details of the selected mathematical approach
                            and relevant assumptions or hypotheses).
                        </li>
                        <li>Inputs (e.g. reliability data, logistic times, and working hypotheses).</li>
                        <li>The results obtained.</li>
                        <li>The conclusions and recommendations.</li>
                    </ol>
                </blockquote>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>In-house</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>