<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-07.03">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-07.03 - Identification and Usage List (MIUL)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="7">Reference:</td>
            <td>MSFC-STD-506</td>
            <td>Materials and Process Control Standard</td>
        </tr>
        <tr>
            <td>MSFC-SPEC-250</td>
            <td>Protective Finishes for Space Vehicle Structures and associated Flight Equipment, General Specification
                for
            </td>
        </tr>
        <tr>
            <td>MSFC-SPEC-522</td>
            <td>Design Criteria for Controlling Stress Corrosion Cracking</td>
        </tr>
        <tr>
            <td>MSFC JA-447</td>
            <td>Mission Requirements on Facilities/Instruments/Experiments for Space Transportation System (STS)
                attached Payloads
            </td>
        </tr>
        <tr>
            <td>MSFC-PROC-1301</td>
            <td>Guidelines for the Implementation of required Materials Control Procedures</td>
        </tr>
        <tr>
            <td>MSFC-HDBK-527<br/> JSC-09604</td>
            <td>Materials Selection List for Space Hardware Systems</td>
        </tr>
        <tr>
            <td>NASA-STD-6001</td>
            <td>Flammability, Odor, Offgassing, and Compatibility Requirements and Test Procedures for Materials in
                Environments that Support Combustion
            </td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>To established a list of all materials to be used in the payload design. This MIUL shall be used in
                lieu of DML (DRD-7.02) only when ISS requirements apply.
            </td>
        </tr>
        <tr>
            <td> &#xa0;</td>
            <td>
                <div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>The MIUL shall include the following:
                <ul type="disc">
                    <li>detail drawing number, title (nomenclature), and dash number,</li>
                    <li>next assembly number, title (nomenclature), and dash number,</li>
                    <li>change letter designation,</li>
                    <li>drawing source (contractor or vendor),</li>
                    <li>material and processes specification with title, revision and author identified,</li>
                    <li>cure number from the Materials and Process Technical Information System (MAPTIS); shall define
                        cure conditions for non-metals only,
                    </li>
                    <li>environmental data (complete environment history, including all storage, assembly and service
                        environment, media, pressure, temperature, etc.),
                    </li>
                    <li>MUA number/status (if applicable),</li>
                    <li>standard part number,</li>
                    <li>material rating/usage evaluation (based on applicable criteria of documents (see above or in the
                        information system MAPTIS),
                    </li>
                    <li>remarks (shall provide additional rationale to justify acceptance of material and processes
                        application using MSFC-PROC-1301 for guidance.
                    </li>
                    <li>The supplier shall designate on the MIUL which process specifications are critical to
                        fabrication, control and inspection of the contract end items on the MIUL. The processes shall
                        be submitted for review and approval of NASA;
                    </li>
                </ul>
                <p class="note">
                    Materials categories according MSFC-HDBK-527
                </p>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>Example for a MIUL Instructions for completing a MIUL see below.</td>
        </tr>
        </tbody>
    </table>

    <page-before align="center">
        <img src="drd-07.03.gif" class="center" width="527" height="926"/>
    </page-before>

    <page-before/>

    <h3>Instructions for Completing a Material Identification and Usage List (MIUL)</h3>
    The MIUL is structured in:
    <table>
        <colgroup>
            <col style="width: 25%;"/>
            <col style="width: 25%;"/>
        </colgroup>
        <tbody>
        <tr>
            <td>Group I</td>
            <td>metallic</td>
        </tr>
        <tr>
            <td>Group II</td>
            <td>non-metallic</td>
        </tr>
        <tr>
            <td>Group III</td>
            <td>off-the-shelf material</td>
        </tr>
        </tbody>
    </table>

    <h4>Format description:</h4>
    <table class="bordered show-empty word-wrap center-bold" style="table-layout: auto">
        <colgroup>
            <col style="width: 30%;"/>
            <col style="width: 30%;"/>
            <col style="width: 40%;"/>
        </colgroup>
        <tbody>
        <tr>
            <td><b>Head Line</b></td>
            <td colspan="2">Project name and environment (temperature, pressure, media)</td>
        </tr>
        <tr>
            <td><b>Part/Draw. No.</b></td>
            <td colspan="2">part contained in drawing/parts list under number ......</td>
        </tr>
        <tr>
            <td><b>REV/LTR</b></td>
            <td colspan="2">Revision of drawing / referred letter</td>
        </tr>
        <tr>
            <td><b>Nomenclature</b></td>
            <td colspan="2">name of part or drawing</td>
        </tr>
        <tr>
            <td rowspan="5"><b>Material Identification</b></td>
            <td>MAT'L Code</td>
            <td>material code acc. to MSFC-HDBK-527F /</td>
        </tr>
        <tr>
            <td>Material Description</td>
            <td></td>
        </tr>
        <tr>
            <td>Mat. Mfgr</td>
            <td>manufacturer of material or part</td>
        </tr>
        <tr>
            <td>Mat. Spec</td>
            <td>specification of material / part</td>
        </tr>
        <tr>
            <td>Process Spec.</td>
            <td>process e.g. surface treatment</td>
        </tr>

        <tr>
            <td><b>Non-Metallic Materials</b></td>
            <td>Size</td>
            <td>one of the infos below is sufficient and will be written into the list when data are available
            </td>
        </tr>
        </tbody>
    </table>

    <h4>Size:</h4>
    <table class="bordered show-empty word-wrap center-bold" style="table-layout: auto">
        <colgroup>
            <col style="width: 30%;"/>
            <col style="width: 30%;"/>
            <col style="width: 40%;"/>
        </colgroup>
        <thead>
        <tr>
            <th>WT (weight - g)</th>
            <th>THK (thickness -cm)</th>
            <th>AREA (cm2)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>W1 - 0&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; 1</td>
            <td>V1 - 0&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; 1</td>
            <td>A1 - 0&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; 10</td>
        </tr>
        <tr>
            <td>W2 - 2&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; 50</td>
            <td>V2 - 2&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; 50</td>
            <td>A2 - 11&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; 100</td>
        </tr>
        <tr>
            <td>W3 - 51&#xa0;&#xa0;&#xa0; 500</td>
            <td>V3 - 51&#xa0;&#xa0;&#xa0; 500</td>
            <td>A3 - 101&#xa0;&#xa0;&#xa0; 500</td>
        </tr>
        <tr>
            <td>W4 - &#xa0;&#xa0;&#xa0;&#xa0;&#xa0; 500</td>
            <td>V4 - &#xa0;&#xa0;&#xa0;&#xa0;&#xa0; 500</td>
            <td>A4 - &#xa0;&#xa0;&#xa0;&#xa0;&#xa0; 1000</td>
        </tr>
        </tbody>
    </table>

    <br/>

    <table class="bordered show-empty word-wrap center-bold" style="table-layout: auto">
        <colgroup>
            <col style="width: 25%;"/>
            <col style="width: 15%;"/>
            <col style="width: 60%;"/>
        </colgroup>
        <tbody>
        <tr>
            <td rowspan="11">Usage Evaluation</td>
            <td>FLM</td>
            <td>flammability, measurements acc. to NSTS 22648</td>
        </tr>
        <tr>
            <td>-A</td>
            <td>Meets requirements by burning less than 6 inches in the thickness and test conditions
                specified. This material is acc. for unlimited use.
            </td>
        </tr>
        <tr>
            <td>-B</td>
            <td>Fails NASA-STD-6001 test 1 in the thickness and test conditions specified by burning at least 6 inches,
                but
                self-extinguishing before 12 inches were burned and did not burn more than 1 inch in test 2. The
                material is
                acc. with controls.
            </td>
        </tr>
        <tr>
            <td>-C</td>
            <td>Fails test 1 in the thickness and test conditions specified with a burn length of at least 12 inches and
                burn rate of less than 0.1 inches/second down in test 2. Material is marginal.
            </td>
        </tr>
        <tr>
            <td>-X</td>
            <td>Rated material is not acceptable and requires a MUA.</td>
        </tr>
        <tr>
            <td>-S</td>
            <td>Special configuration test. See actual test report.</td>
        </tr>
        <tr>
            <td>-I</td>
            <td>Insufficient data.</td>
        </tr>
        <tr>
            <td>-U</td>
            <td>Untested.</td>
        </tr>
        <tr>
            <td>AGE</td>
            <td>Static age life, acc. to Maptis/MSFC-HDBK-527</td>
        </tr>
        <tr>
            <td>-A</td>
            <td>Rated when no changes in properties during 10 years of static life at ambient temperature and humidity.
            </td>
        </tr>
        <tr>
            <td>-B</td>
            <td>Rated materials shall meet 'A' rating requirements when specific controls are imposed (e.g. stored in a
                controlled environment).
            </td>
        </tr>
        </tbody>
    </table>

    <br/>

    <h4>Instructions for Completing a Material Identification and Usage List (con't)</h4>
    <table class="bordered show-empty word-wrap center-bold" style="table-layout: auto">
        <colgroup>
            <col style="width: 25%;"/>
            <col style="width: 15%;"/>
            <col style="width: 60%;"/>
        </colgroup>
        <tbody>
        <tr>
            <td rowspan="26"><b>Usage Evaluation (con't)</b></td>
            <td>SCC</td>
            <td>Stress corrosion cracking, acc. to Maptis/ MSFC-HDBK-527.</td>
        </tr>
        <tr>
            <td>-A</td>
            <td>Acceptable (material listed in MSFC-SPEC-522, table 1).</td>
        </tr>
        <tr>
            <td>-B</td>
            <td>Acceptable with special control (material listed in MSFC-SPEC-522, table 2).
            </td>
        </tr>
        <tr>
            <td>-C</td>
            <td>Acceptability must be demonstrated (material listed in MSFC-SPEC-522, table 3).
            </td>
        </tr>
        <tr>
            <td>-N</td>
            <td>Not acceptable.</td>
        </tr>
        <tr>
            <td>-U</td>
            <td>Untested and must be tested.</td>
        </tr>
        <tr>
            <td>-P</td>
            <td>Test passed, see remarks.</td>
        </tr>
        <tr>
            <td>COR</td>
            <td>Corrosion resistance, acc. to Maptis/MSFC-HDBK-527.</td>
        </tr>
        <tr>
            <td>-A</td>
            <td>Acceptable and need no coating.</td>
        </tr>
        <tr>
            <td>-B</td>
            <td>Acceptable with coating.</td>
        </tr>
        <tr>
            <td>-U</td>
            <td>Untested and must be tested.</td>
        </tr>
        <tr>
            <td>-X</td>
            <td>Fails and should not be used without an approved MUA.</td>
        </tr>
        <tr>
            <td>TVS</td>
            <td>Thermal vacuum stability, acc. to Maptis/ MSFC-HDBK-527.</td>
        </tr>
        <tr>
            <td>-A</td>
            <td>Acceptable without special cure or bake-out.</td>
        </tr>
        <tr>
            <td>-B</td>
            <td>Acceptable with special cure or bake-out.</td>
        </tr>
        <tr>
            <td>-C</td>
            <td>Total Mass Loss (TML) less than 3%.<br/> Volatile Condensable Loss (VCL) less than 1%.
            </td>
        </tr>
        <tr>
            <td>-U</td>
            <td>Untested and must be tested.</td>
        </tr>
        <tr>
            <td>-X</td>
            <td>TML more than 3%, VCL more than 1%.</td>
        </tr>
        <tr>
            <td>-I</td>
            <td>Insufficient data.</td>
        </tr>
        <tr>
            <td>TOX</td>
            <td>Toxity / offgassing, according to NSTS 22648.</td>
        </tr>
        <tr>
            <td>-K</td>
            <td>Meets MAC (100 lbs.) Values without special cure.</td>
        </tr>
        <tr>
            <td>-A</td>
            <td>Meets MAC (10 lbs.) Values without special cure.</td>
        </tr>
        <tr>
            <td>-B</td>
            <td>Meets MAC (100 lbs.&#xa0; or 10 lbs. max.) Values without special cure.</td>
        </tr>
        <tr>
            <td>-U</td>
            <td>Untested.</td>
        </tr>
        <tr>
            <td>-V</td>
            <td>Meets MAC (85 lbs. max.) Values. MUA required.</td>
        </tr>
        <tr>
            <td>-X</td>
            <td>MAC Values greater than that specified in NASA-STD-6001. MUA required.</td>
        </tr>
        <tr>
            <td><b>MUA Status</b></td>
            <td></td>
            <td>If a material requires a MUA as result of column 10-15, Column 16 shall be marked with 'X', after
                approval by NASA the MUA status shall be marked with 'P' (passed).
            </td>
        </tr>
        <tr>
            <td><b>Remarks</b></td>
            <td></td>
            <td>Special notes and dates for e.g. special cure, test results, add. evaluations.
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>