<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-07.01">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-07.01 - Request For Approval of PMP (RFA)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td>Reference:</td>
            <td>ECSS-Q-ST-70C</td>
            <td>Space product assurance - Materials, mechanical parts and processes</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>
                Any critical material, part or process shall be subjected of a Request For Approval (RFA) to be
                submitted to next customer.<br/>
                A material, part or process is declared critical when:<br/>
                <ul type="disc">
                    <li>it is new or non-validated (not qualified in the case of a part) for the application in
                        question;
                    </li>
                    <li>during previous use it has raised problems which remain unsolved.</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>
                The RFA shall include details of the subsequent evaluation and validation to be performed.<br/>
                The format of such a RFA should be standardized throughout a project and shall as minimum include the
                following:
                <ul type="disc">
                    <li>identification details,</li>
                    <li>characteristics and/or function,</li>
                    <li>location and environment,</li>
                    <li>reference of evaluation/validation/qualification programmes and reports,</li>
                    <li>approval status.</li>
                </ul>
                <p class="note">
                    When filling in the RFA for requesting EEE component usage, the RFA contents must be conform to a
                    PAD
                    contents.
                </p>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>
                Example for RFA attached sheet or use an appropriate in-house form.
                <p class="note">
                    For payloads using NSTS/ISS a MUA shall be prepared in lieu of RFA.
                </p>
            </td>
        </tr>
        </tbody>
    </table>

    <page-after>
        <div align="center">
            <img width="600" height="842" src="drd-07.01_1.gif"/>
        </div>
    </page-after>

    <page-after>
        <div align="center">
            <img width="581" height="769" src="drd-07.01_2.gif"/>
        </div>
    </page-after>

    <page-after>
        <b>Content of the RFA</b><br/>
        The RFA shall be completed by the supplier (parts 1 to 10, 13 and 14) and the customer (parts
        11,12 and 15).
        <ol>
            <li><span class="strong">Header<br/></span>
                The header information shall identify the document as a request for approval together with the
                project logo and project name, RFA reference, issue revision and date.
            </li>
            <li><span class="strong">Originator<br/></span>
                Originator´s name and reference.
            </li>
            <li><span class="strong">Location<br/></span>
                Subsystem and equipment codes.
            </li>
            <li><span class="strong">Item description<br/></span>
                Brief description of the item.
            </li>
            <li><span class="strong">PMP information<br/></span>
                The DML, DMPL or DPL item number and list reference.
            </li>
            <li><span class="strong">Items status<br/></span>
                Items status shall be entered for:
                <ul type="disc">
                    <li>manufacturer´s name and qualification reference;</li>
                    <li>supplier´s name and qualification status;</li>
                    <li>product or material specification;</li>
                    <li>procurement specification;</li>
                    <li>process or handling specification;</li>
                    <li>other related process or handling specifications;</li>
                    <li>verification or qualification specification;</li>
                    <li>report on verification or qualification.</li>
                </ul>
            </li>
            <li><span class="strong">Reason for RFA<br/></span>
                The reason for the RFA shall be entered.
            </li>
            <li><span class="strong">Application and location details<br/></span>
                The details of the application and exact location of the item shall be entered here.<br/>
                Thereference in the CIL shall be given.
            </li>
            <li><span class="strong">Evaluation and validation programme<br/></span>
                Reference and details of main tests.
            </li>
            <li><span class="strong">Subcontractor supplier approval<br/></span>
                Subcontractor supplier approval for the first issue of the RFA.
            </li>
            <li><span class="strong">Customer initial decision<br/></span>
                Customer initial decision shall be entered on first issue of the RFA providing:
                <ul type="disc">
                    <li>the decision concerning the proposed material,</li>
                    <li>the requirement to perform tests /deviation request as necessary),</li>
                    <li>the decision concerning the proposed test programme.</li>
                </ul>
            </li>
            <li><span class="strong">Signature<br/></span>
                Customer´s and final customer´s (if applicable) signature.
            </li>
            <li><span class="strong">Justification results<br/></span>
                Justification results obtained with reference to the supplier´s validation report andconclusion.
            </li>
            <li><span class="strong">Subcontractor supplier approval<br/></span>
                Subcontractor supplier approval on RFA final issue.
            </li>
            <li><span class="strong">Final approval status<br/></span>
                Final approval status at all the levels of the final issue of the RFA by the customer and final
                customer (if defined in the contract)
            </li>
        </ol>
    </page-after>

    <page-after>
        <div style="margin-top: 300px;text-align:center">
            (THIS PAGE INTENTIONALLY LEFT BLANK)
        </div>
    </page-after>
</div>
</body>
</html>