<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-04.10">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-04.10 - Contingency Analysis</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td>Reference:</td>
            <td>ECSS-Q-ST-30C</td>
            <td>Space Product Assurance - Dependability</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>The purposes of contingency analysis are:
                <ul type="disc">
                    <li>to identify the failure, to identify the cause, to control the effect and to indicate how
                        recovery of the mission integrity can be achieved;
                    </li>
                    <li>to identify the methods of recovery of the nominal or degraded functionalities, with respect to
                        project dependability policy (availability targets for example).
                    </li>
                </ul>
                The contingency analysis is typically a system level task.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>The contingency analysis document shall include:
                <ul type="disc">
                    <li>a description of the system,</li>
                    <li>a description of the method to perform contingency analysis,</li>
                    <li>details of the failure detection method,</li>
                    <li>details of the diagnostics,</li>
                    <li>details of the recovery actions or procedures,</li>
                    <li>actions and recommendations for project team.
                        <blockquote class="note">
                            Following dependability analyses are linked to the contingency analysis:
                            <ul type="disc">
                                <li>Reliability prediction,</li>
                                <li>FTA</li>
                                <li>FDIR</li>
                                <li>Maintainability analysis,</li>
                                <li>FMEA/FMECA (as input).</li>
                            </ul>
                        </blockquote>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>TBD</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>