<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-05.15">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-05.15 - Caution &amp; Warning Analysis (CWA)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td>Reference:</td>
            <td>ECSS-Q-ST-40C</td>
            <td>Space product assurance - Safety</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>Caution and warning analysis shall be performed during the concept definition phase and the design and
                development phase of human space flight programmes in order to identify:
                <ol start="1">
                    <li>emergency, warning, and caution parameters;</li>
                    <li>the required safing functions and capabilities;</li>
                    <li>limit sensing requirements;</li>
                    <li>the applicability of the individual "caution and warning" functions to the different mission
                        phases.
                    </li>
                </ol>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>The caution and warning analysis shall utilize the results of the warning time and hazards analyses as
                appropriate.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format</td>
            <td>In-house</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>