<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>

<body>
<div th:fragment="content" id="drd-02.06">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-02.05 - Qualification Certificate for Launch</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="1">Reference:</td>
            <td>ECSS-Q-ST-10C</td>
            <td>Space product assurance - Product assurance management</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>The Qualification Certificate for launch segment is the document that formalizes the qualification and
                identifies the qualified configuration. <br/>

                <p class="note">
                    A product or subsystem can only be formally declared as qualified and thus be allocated a
                    Qualification Certificate, once all the residual actions (e.g. arising from qualification reviews)
                    have been dealt with.
                </p>
                The purpose and objective of this document is to certify the qualification, and in particular that the
                product or subsystem meets the agreed initial requirements. In signing the certificate, the signing
                entities certify:
                <ol style="list-style-type: lower-alpha;">
                    <li>That the definition meets the requirements defined in the technical specification including the
                        general design rules and applicable interface control requirements, as specified in the
                        justification file.
                    </li>
                    <li>That the definition of the First Article representative of recurrent production does not call
                        into question the qualification of the product and its production process
                    </li>
                    <li>That, within the framework of the qualification certificate, all the qualification-blocking
                        reservations, raised at the end of the Qualification Review or during other First Article
                        configuration reviews, have been resolved.
                    </li>
                </ol>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>The Qualification Certificate shall include or refer to at least the following information:
                <ol>
                    <li><b>Scope of the "Qualification Certificate" and its use in exploitation phase:</b><br/>
                        Clarification of the potential verification activities to be performed and completed in the
                        exploitation phase in order to maintain the qualification status
                    </li>
                    <li><b>Qualification acceptance status:</b><br/>
                        Statement regarding the acceptance of the Qualification Certificate.
                    </li>
                    <li><b>Product identification:</b>
                        <ol style="list-style-type: lower-alpha;">
                            <li>Product identification reference;</li>
                            <li>Design authority;</li>
                            <li>Qualification acceptance responsible;</li>
                            <li>Contractor;</li>
                            <li>Development contracts reference</li>
                        </ol>
                    </li>
                    <li><b>Development key points performed:</b>
                        <ol style="list-style-type: lower-alpha;">
                            <li>Reviews;</li>
                            <li>Tests.</li>
                        </ol>
                    </li>
                    <li><b>Reference documentation product:</b>
                        <ol style="list-style-type: lower-alpha;">
                            <li>List of documentation related to the definition of the "product", with the indication of
                                acceptance by customer (issue, revision) when relevant;
                            </li>
                            <li> Other relevant documents related to the justification of the "product", with the
                                indication of acceptance by customer (issue, revision) when relevant.
                            </li>
                        </ol>
                    </li>
                    <li><b>Declaration of Conformity by the supplier.</b></li>
                    <li><b>Product Breakdown Structure.</b></li>
                    <li><b>Status of elementary subsystem products Qualification Certificates</b></li>
                    <li><b>Reserves to qualification and limitation of use, including</b>
                        <ol style="list-style-type: lower-alpha;">
                            <li>Open critical points;</li>
                            <li>Technical reserves to qualification;</li>
                            <li>Deviations to Design Rules;</li>
                            <li>Documentary reserves;</li>
                            <li>Other reserves</li>
                        </ol>
                    </li>
                    <li><b>Qualification perimeter:</b><br/>
                        Applicable configuration status.
                    </li>
                    <li><b>Open points:</b><br/>
                        Open actions (e.g. arising from development) to be carried out in order to close the identified
                        reservations.
                        <p class="note" data-number="1">
                            Examples of verification activities as per point 1:<br/>
                            Verification of the deviations w.r.t. the applicable configuration, of the open critical
                            points.
                        </p>
                        <p class="note" data-number="2">
                            Non-exhaustive list of the reference documentation product includes as per point 5:<br/>
                            Requirements such as Applicable Documents and Technical Specifications, Dimensioning cases
                            file and margin policy, Definition documentation such as Functional File, Industrial File
                            and User manuals, Spécifications de Mise en Oeuvre (SMO), Configuration Register.<br/>
                            Non-exhaustive list of other relevant documents to be indicated includes: Critical Point
                            Log, Justification File.
                        </p>

                        <p class="note" data-number="3">
                            Example of a Declaration of Conformity by the supplier as per point 6:<br/>
                            "It is hereby certified:
                        <ul>
                            <li>That the product production definition is fully and solely defined by the Functional
                                and Industrial Files referred and configuration registers to above
                            </li>
                            <li>That the definition meets the requirements (specified in the Technical Specifications,
                                etc.) as identified in the Justification File (DJ) and checked by the Qualification
                                Board with the exception of waiver and/or reservation.
                            </li>
                            <li>That the definition of 'First Article' representative of recurrent production in no
                                way calls into question the qualification neither of the product nor of its production
                                process.
                            </li>
                            <li>It is certified that the above-mentioned points are verified, except for blocking
                                reserves identified in appendix.
                            </li>
                        </ul>
                        </p>

                        <p class="note" data-number="4">
                            In accordance with requirement 2.2.1, Qualification Certificates are issued for all ground
                            and flight subsystems within the Launch Segment perimeter and endorsed by the PA Manager.
                        </p>
                    </li>
                </ol>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>In-house</td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
