<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-06.07">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-06.07 - EEE Procurement Specification (PS)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="1">Reference:</td>
            <td>ECSS-Q-ST-60C</td>
            <td>Space product assurance - Electrical, electronic and electromechanical (EEE) components</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>The purpose of the Procurement Specification (PS) is to establish the component technical specification
                baseline.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td> The procurement specification shall include or refer to the following information:
                <ol>
                    <li>A description of the purpose, objective, content and the reason prompting its preparation;</li>
                    <li>A list of the applicable and reference documents to support the generation of the document;</li>
                    <li>Any additional terms, definition or abbreviations;</li>
                    <li>Absolute maximum ratings;</li>
                    <li>Electrical and mechanical parameters and limits,</li>
                    <li>Screening, burn-in, and acceptance requirements;</li>
                    <li>Package material and lead finish;</li>
                    <li>Documentation/data requirements;</li>
                    <li>Delta limits when applicable;</li>
                    <li>Criteria for percent defective allowable,</li>
                    <li>LAT or LVT, QCI or TCI</li>
                    <li>Marking;</li>
                    <li>Storage requirements;</li>
                    <li>Requirements for lot homogeneity;</li>
                    <li>Serialization (when applicable);</li>
                    <li>Protective packaging and handling requirements;</li>
                    <li>Radiation Verification Testing requirements, when applicable.</li>
                </ol>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>In-house</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>