<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>DRD-05.13 - Series and Reflown Equipment Safety Assessment Reporting Sheet</title>

    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-05.13">
    <table class="titel" aria-label="title">
        <tbody>
        <tr>
            <td><h2>DRD-05.13 - Series and Reflown Equipment Safety Assessment Reporting Sheet</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference" aria-label="reference">
        <tbody>
        <tr>
            <td rowspan="2">Reference:</td>
            <td>ISS_OE_622</td>
            <td>Series and Reflown Equipment Safety Assessment Reporting Sheet<br/> Demonstration of Compliance with SSP
                30599, Para. 7.0
            </td>
        </tr>
        <tr>
            <td>NSTS/ISS 13830</td>
            <td>Payload Safety Review and Data Submittal Requirements</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose" aria-label="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>Reflown HW/Equipment is defined as payloads or elements of payloads that have flown on the ISS and are
                manifested for flight.&#xa0; Series flight HW is defined as payloads or elements of payloads that are of
                the same or similar design as previously flown HW.The PO is responsible for the safety of the total
                payload/GSE, including the series/reflown elements and associated interfaces.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content" aria-label="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <table class="format" aria-label="format">
        <tbody>
        <tr>
            <td>Format</td>
            <td>ISS_OE_622</td>
        </tr>
        </tbody>
    </table>

    <page-before>
        <img src="drd-05.13_1.png" class="center" width="648" height="831" alt="drd-05.13_1.png"/>
    </page-before>

    <page-before>
        <img src="drd-05.13_2.png" class="center" width="650" height="840" alt="drd-05.13_2.png"/>
    </page-before>

    <page-before>
        <img src="drd-05.13_3.png" class="center" width="647" height="828" alt="drd-05.13_3.png"/>
    </page-before>

    <page-before>
        <img src="drd-05.13_4.png" class="center" width="644" height="820" alt="drd-05.13_4.png"/>
    </page-before>

    <page-before>
        <img src="drd-05.13_5.png" class="center" width="602" height="800" alt="drd-05.13_5.png"/>
    </page-before>

    <page-before>
        <img src="drd-05.13_6.png" class="center" width="611" height="781" alt="drd-05.13_6.png"/>
    </page-before>

    <page-before>
        <img src="drd-05.13_7.png" class="center" width="599" height="803" alt="drd-05.13_7.png"/>
    </page-before>

</div>
</body>
</html>