<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>DRD-03.13 - Certificate of Conformity (CoC)</title>

    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>

<body>
<div th:fragment="content" id="drd-03.13">
    <table class="titel" aria-label="title">
        <tbody>
        <tr>
            <td><h2>DRD-03.13 - Certificate of Conformity (CoC)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference" aria-label="reference">
        <tbody>
        <tr>
            <td rowspan="2">Reference:</td>
            <td>ECSS-Q-ST-20C</td>
            <td>Space Product Assurance - Quality Assurance</td>
        </tr>
        <tr>
            <td>ECSS-E-ST-10-02C</td>
            <td>Space engineering - Verification</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose" aria-label="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>
                The CoC is the document that certifies the conformance of an end item in all respect with the
                applicable specification(s), drawing(s) and requirements of the order.<br/>
                This document shall be included in the EIDP to provide to the customer the insurance that the
                deliverable item has been designed, manufactured and tested in accordance with the technical and
                quality requirements established by the contract and the statement of work. <br/>
                The CoC shall be prepared and made available to the customer during the acceptance review of
                deliverable item.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content" aria-label="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>The CoC shall contain the unequivocal identification of the item, subject for certification, as
                follows:
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <ul>
                    <li>Document number</li>
                    <li>Project name</li>
                    <li>ADP / logbook reference number</li>
                    <li>Item name</li>
                    <li>Item part number</li>
                    <li>Item serial number</li>
                    <li>Customer code (if any)</li>
                    <li>Contract number</li>
                    <li>Intended use / objective (i.e. BB, QM, FM)</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><strong>Reference of conformity</strong></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <ul>
                    <li>Contract requirements;</li>
                    <li>Operational documents;</li>
                    <li>Deliverable documents;</li>
                    <li>reference number of design spec., ICD or other contractual documents;</li>
                    <li>reference number or drawings, procedures, and electrical schemes;</li>
                    <li>reference number of EIDP, logbooks, and manuals.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><strong>Statement of conformity</strong></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <ul>
                    <li>To be tailored to the specific deliverable item.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><strong>Remarks</strong></td>
        </tr>
        <tr>
            <td></td>
            <td>List of waivers (RFWs) or deviations (RFDs) or Nonconformace Reports (NCRs); as necessary.</td>
        </tr>
        </tbody>
    </table>

    <table class="format" aria-label="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>The in-house format to be used shall be similar to the annexed format and shall contain at least the
                same information. The format for the CoC can vary depending on deliverable item (i.e. unit, subsystem,
                system or service) and specific contractual requirements.
            </td>
        </tr>
        </tbody>
    </table>

    <page-before>
        <img src="drd-03.13.gif" class="center" width="650" height="694" alt="drd-03.13.gif"/>
    </page-before>
</div>
</body>
</html>
