<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-03.08">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-3.08 - Logbook</h2></td>
        </tr>
        </tbody>
    </table>


    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="3">Reference:</td>
            <td>ECSS-Q-ST-20C</td>
            <td>Space product assurance - Quality assurance</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>This DRD is called from ECSS-Q-ST-20C, requirement 5.7.2a. <br/>
                The logbook is the document in which the data related to the integration and testing of a configuration
                item are recorded in chronological order to provide the necessary events traceability at any time during
                the programme life cycle, beginning with the first qualification or acceptance test. <br/>
                It is part of the EIDP/ADP.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>
                <ol>
                    <li>The logbook cover page shall contain the following:
                        <blockquote>
                            <ol style="list-style-type:lower-alpha">
                                <li>general information,</li>
                                <li>contents,</li>
                                <li>approvals of the relevant authorities (QA, PA, PM), and</li>
                                <li>customer acceptance (if required by the business agreement).</li>
                            </ol>
                        </blockquote>
                    </li>
                    <li>The logbook shall contain the "hardware configuration and traceability" table, which reports
                        all the identification references of single elements composing the CI.
                    </li>
                    <li>The logbook shall contain the "hardware configuration change and status" table, which reports
                        for each singe element of the CI all the events relevant to integration, removal and replacement
                        on the higher level.
                    </li>
                    <li>The logbook shall contain the summary list of the integration and test instructions, including
                        for each entry, the action start date, action performed date and action close-out date shall
                        also be reported.
                    </li>
                    <li>The logbook shall contain the summary list of nonconformances with relevant identification
                        references, issue date, closure dates, and status.
                    </li>
                    <li>The logbook shall contain all the electrical connector (or other limited cycles items) mate
                        and demate cycles in order to ensure the conformance with the project requirements.
                    </li>
                    <li>The logbook shall contain the records of total operating hours for each limited-life element
                        identified in the test procedures.
                    </li>
                    <li>The logbook shall contain, in chronological order, the events related to the integration and
                        test activities performed on the relevant item (i.e. system, subsystem, and equipment),
                        including the following:
                        <ol style="list-style-type:lower-alpha">
                            <li>Action requested form, reporting all the operations performed with the references to the
                                applicable documents or procedures, start date, completion date and quality inspection
                                stamps.
                            </li>
                            <li>Step-by-step procedures and results, in which copies of the as-run procedures are
                                included in a suitable format.
                            </li>
                            <li>Procedures variation form, in which copies of modified procedures (red marked)
                                identified with a procedure variation number and duly approved by responsible
                                authorities, are included.
                            </li>
                        </ol>
                    </li>
                    <li>The logbook shall contain the list of open action or open test at the time of the product
                        shipment to the customer, test facility or launch pad.
                        <blockquote class="note">
                            An example of a logbook cover page is given in the field format
                        </blockquote>
                    </li>
                </ol>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>Proposed form in annex</td>
        </tr>
        </tbody>
    </table>

    <page-before align="center">
        <img src="drd-03.08.gif" class="center" width="630" height="798"/>
    </page-before>

</div>
</body>
</html>