<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>DRD-5.10 - International Space Station Safety Noncompliance Report (ISS_CM_031)</title>

    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-05.10">
    <table class="titel" aria-label="title">
        <tbody>
        <tr>
            <td><h2>DRD-5.10 - International Space Station Safety Noncompliance Report (ISS_CM_031)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference" aria-label="reference">
        <tbody>
        <tr>
            <td rowspan="2">Reference:</td>
            <td>NSTS 13830</td>
            <td>Payloads Safety Review and Data Submittal Requirements for Payloads Using the Space Shuttle/
                International Space Station
            </td>
        </tr>
        <tr>
            <td>SSP-51700 &#xa0;Baseline</td>
            <td>Payload Safety Policy and Requirements for the International Space Station</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose" aria-label="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>The PO shall document each safety non-compliance from all the requirements of the current versions of
                SSP-51700 on a Safety NCR (Form ISS_CM_031) and submit the form for disposition to PSRP or GSRP.<br/>
                <br/>
                The PO will be formally notified of the approval or denial of the Payload Safety NCR. When the SSP/ISS
                programme approves a NCR, it will be approved as either a waiver or as a deviation.<br/> <br/> A signed
                copy of each approved safety waiver and/or deviation shall be included in the phase III SDP attached to
                the appropriate hazard report (HR).<br/>
                <br/>
                Details see NSTS 13830, section 6.5 and 10.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content" aria-label="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>Each safety NCR shall refer to the applicable payload element, subsystem, or component, of the payload.
                Prior to the submittal of the NCR, appropriate rationale must be developed that defines the design
                features and/or procedures used to conclude that the noncompliant condition is safe. This rationale with
                supporting data shall be documented on the NCR.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format" aria-label="format">
        <tbody>
        <tr>
            <td>Format</td>
            <td>ISS_CM_031 in annex</td>
        </tr>
        </tbody>
    </table>

    <page-before>
        <img src="drd-05.10_1.png" class="center" width="605" height="833" alt="drd-05.10_1.png"/>
    </page-before>

    <page-before>
        <img src="drd-05.10_2.png" class="center" width="609" height="833" alt="drd-05.10_2.png"/>
    </page-before>

    <page-before>
        <img src="drd-05.10_3.png" class="center" width="615" height="835" alt="drd-05.10_3.png"/>
    </page-before>

    <page-before>
        <img src="drd-05.10_4.png" class="center" width="609" height="829" alt="drd-05.10_4.png"/>
    </page-before>

    <page-before>
        <img src="drd-05.10_5.png" class="center" width="617" height="837" alt="drd-05.10_5.png"/>
    </page-before>

    <page-before>
        <img src="drd-05.10_6.png" class="center" width="613" height="835" alt="drd-05.10_6.png"/>
    </page-before>

    <page-before>
        <img src="drd-05.10_7.png" class="center" width="629" height="837" alt="drd-05.10_7.png"/>
    </page-before>

    <page-before>
        <img src="drd-05.10_8.png" class="center" width="613" height="831" alt="drd-05.10_8.png"/>
    </page-before>

    <page-before>
        <img src="drd-05.10_9.png" class="center" width="614" height="140" alt="drd-05.10_9.png"/>
    </page-before>

    <page-before>
        <img src="drd-05.10_10.png" class="center" width="547" height="725" alt="drd-05.10_10.png"/>
    </page-before>

    <page-before>
        <img src="drd-05.10_11.png" class="center" width="538" height="463" alt="drd-05.10_11.png"/>
    </page-before>

</div>
</body>
</html>