<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-06.02">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-06.02 - Declared Component List (DCL)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="10">Reference:</td>
            <td>ECSS-Q-ST-60C</td>
            <td>Space product assurance - Electrical, electronic and electromechanical (EEE) components</td>
        </tr>
        <tr>
            <td>ESA/SCC QPL</td>
            <td>Qualified Parts List</td>
        </tr>
        <tr>
            <td>ESA/SCC QML</td>
            <td>Qualified Manufacturers List</td>
        </tr>
        <tr>
            <td>NSPL</td>
            <td>NASA Parts Selection List</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-20C</td>
            <td>Space product assurance - Quality assurance</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-70C</td>
            <td>Space product assurance - Materials, mechanical parts and processes</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-70-21C</td>
            <td>Space product assurance - Flammability testing for the screening of space materials</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-70-29C</td>
            <td>Space product assurance - The Determination of offgassing products from materials and assembled articles
                to be used in a manned space vehicle crew compartment
            </td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-70-71C</td>
            <td>Space product assurance - Data for selection of space materials and processes</td>
        </tr>
        <tr>
            <td>ECSS-M-ST-40C Rev.1</td>
            <td>Space project management - Configuration and information management</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>The purpose of the Declared Components List (DCL) is to provide a status accounting list of all the EEE
                components intended to be used. The DCL shall be consolidated by the contract holder on the basis of
                data obtained from his subsuppliers and shall reflect the current design at the time of issue. The
                requirements for documentation management and control in ECSS-M-ST-40C Rev.1 shall apply. The DCL shall
                be kept under configuration control.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td> The DCL shall include or refer to the following information:
                <ul type="disc">
                    <li>Component number (commercial equivalent designation),</li>
                    <li>Family (ESCC group code),</li>
                    <li>Package,</li>
                    <li>Value or range of values with tolerance for non qualified parts,</li>
                    <li>Component manufacturer (name, country),</li>
                    <li>Generic procurement specification,</li>
                    <li>Detail procurement specification (with issue and revision for non qualified parts),</li>
                    <li>Specification amendment (including issue and revision),</li>
                    <li>Name of the procurement agent (CPPA,supplier, distributor),</li>
                    <li>Quality level and lot test (ESCC LAT, or LTV, MIL TC or /QCI or CI),</li>
                    <li>Space qualified status (yes or no),</li>
                    <li>RVT (yes or no),</li>
                    <li>Reference of the PAD or Justification Document, where required</li>
                    <li>Approval status of the part,</li>
                    <li>Change identification between each DCL issue,</li>
                    <li>Date-code (only for "as built" DCL),</li>
                    <li>Any abbreviated terms used (as a footnote).</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>Example for DCL see below or use an appropriate in-house form or a computer-generated list (computer
                print out).
            </td>
        </tr>
        </tbody>
    </table>

    <page-before>
        <h4>Declared Component List</h4>
        <table class="word-wrap center-bold bordered" style="table-layout: auto">
            <colgroup>
                <col width="9%"/>
                <col width="9%"/>
                <col width="9%"/>
                <col width="9%"/>
                <col width="9%"/>
                <col width="9%"/>
                <col width="9%"/>
                <col width="9%"/>
                <col width="9%"/>
                <col width="9%"/>
                <col width="9%"/>
            </colgroup>
            <thead>
            <tr>
                <th colspan="5">Project:</th>
                <th colspan="4">Family:</th>
                <th colspan="2">Group</th>
            </tr>
            <tr>
                <th>Component Number</th>
                <th>Package</th>
                <th>Similar to Style</th>
                <th>Space Qualified</th>
                <th>Detail Specification</th>
                <th>Issue/ Rev.</th>
                <th>Generic Specification</th>
                <th>Manufacturer/ Country</th>
                <th>RVT</th>
                <th>Approval Status</th>
                <th>PAD No.</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="5">DCL number:</td>
                <td colspan="4">Issue: Rev.:</td>
                <td colspan="2">Date: Date:</td>
            </tr>
            </tbody>
        </table>

        <br/><br/>

        <table class="word-wrap" style="table-layout: auto">
            <colgroup>
                <col width="35"/>
                <col width="65%"/>
            </colgroup>
            <tbody>
            <tr>
                <td><b>Project:</b></td>
                <td>Name of project using the component</td>
            </tr>
            <tr>
                <td><b>Family:</b></td>
                <td>Capacitor, resistor, etc.(refer ECSS Family Code)</td>
            </tr>
            <tr>
                <td><b>Group:</b></td>
                <td>Ceramic, tantalum, etc. (refer ECSS Group Code)</td>
            </tr>
            <tr>
                <td><b>Component number:</b></td>
                <td>In accordance with procurement specification</td>
            </tr>
            <tr>
                <td><b>Package</b></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Similar to style:</b></td>
                <td>Commercial or military equivalent</td>
            </tr>
            <tr>
                <td><b>Space qualified status:</b></td>
                <td>yes or no</td>
            </tr>
            <tr>
                <td><b>Detail specification:</b></td>
                <td>Relevant specifications with issue and revisions</td>
            </tr>
            <tr>
                <td><b>Issue:</b></td>
                <td>Identify issue of document</td>
            </tr>
            <tr>
                <td><b>Rev:</b></td>
                <td>Identify revision of document</td>
            </tr>
            <tr>
                <td><b>Generic specification:</b></td>
                <td>Relevant specifications with issue and revisions</td>
            </tr>
            <tr>
                <td><b>Manufacturer/country:</b></td>
                <td>Manufacturer code (see ESA database)</td>
            </tr>
            <tr>
                <td><b>RVT:</b></td>
                <td>Radiation verification testing (yes or no)</td>
            </tr>
            <tr>
                <td><b>Approval status</b></td>
                <td>Information about known approvals (EPPL, ESCC, ESCC/QML, MIL, MIL/QML or other approvals/former
                    usage)
                </td>
            </tr>
            <tr>
                <td><b>PAD No</b></td>
                <td>Part Approval Document number</td>
            </tr>
            <tr>
                <td><b>DCL number:</b></td>
                <td>Document registration number</td>
            </tr>
            <tr>
                <td><b>Date:</b></td>
                <td>Date of issue</td>
            </tr>
            <tr>
                <td><b>Date:</b></td>
                <td>Date of revision</td>
            </tr>
            </tbody>
        </table>

    </page-before>
</div>
</body>
</html>