<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-07.04">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-07.04 - Materials Usage Agreement (MUA)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="8">Reference:</td>
            <td>MSFC-STD-506</td>
            <td>Materials and Process Control Standard</td>
        </tr>
        <tr>
            <td>MSFC-SPEC-250</td>
            <td>Protective Finishes for Space Vehicle Structures and associated Flight Equipment, General Specification
                for
            </td>
        </tr>
        <tr>
            <td>MSFC-SPEC-522</td>
            <td>Design Criteria for Controlling Stress Corrosion Cracking</td>
        </tr>
        <tr>
            <td>MSFC JA-447</td>
            <td>Mission Requirements on Facilities/Instruments/Experiments for Space Transportation System (STS)
                attached Payloads
            </td>
        </tr>
        <tr>
            <td>MSFC-PROC-1301</td>
            <td>Guidelines for the Implementation of required Materials Control Procedures</td>
        </tr>
        <tr>
            <td>MSFC-HDBK-527<br/> JSC-09604</td>
            <td>Materials Selection List for Space Hardware Systems</td>
        </tr>
        <tr>
            <td>NASA-STD-6001</td>
            <td>Flammability, Odor, Offgassing, and Compatibility Requirements and Test Procedures for Materials in
                Environments that Support Combustion
            </td>
        </tr>
        <tr>
            <td>JSC-SPEC-SP-R-0022A</td>
            <td>Vacuum Stability Requirements Of Polymeric Materials For Spacecraft Applications</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>To request the use of materials and processes which do not have an "A" rating per MSFC-HDBK-527 for its
                planned application. This MUA shall be used in lieu of RFA only when ISS requirements apply.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td> The MUA shall contain sufficient information with supporting detailed rationale to permit the use of
                non "A" rated material and processes. Topics which might be covered under rationale are:
                <ul type="disc">
                    <li>Corrosion<br/>
                        Passivation, surface treatment, overcoated, etc.
                    </li>
                    <li>Stress Corrosion Cracking<br/>
                        Evaluation of sustained tensile stress (see stress evaluation form MSFC-SPEC-522).
                    </li>
                    <li>Flammability<br/>
                        Thickness, quantity, closed container, ignition source, media for ground &amp; flight.
                    </li>
                    <li>Toxicity/Offgassing/Odor<br/>
                        Thickness, quantity, closed container, media, overcoated, encapsulated.
                    </li>
                    <li>Thermal Vacuum Stability<br/>
                        Quantity, exposed surface area, proximity to sensitive surfaces, overcoated, encapsulated.
                    </li>
                </ul>
                <p class="note">
                    The MUA is evaluated by MSFC and approved/disapproved by the Materials Application Evaluation Board
                    (MAEB). If approved, it is valid for the specific material, in the specific usage for that HW.
                </p>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>Example for a MUA (MSFC document JA-447). Description and guidelines for preparation of MUA see
                below.
            </td>
        </tr>
        </tbody>
    </table>

    <page-before align="center">
        <img src="drd-07.04.gif" class="center" width="599" height="810"/>
    </page-before>

    <page-before/>

    <h4>Guidelines for Preparation of Material Usage Agreements</h4>
    <table class="bordered show-empty word-wrap center-bold" style="table-layout: auto">
        <colgroup>
            <col style="width: 40%;"/>
            <col style="width: 5%;"/>
            <col style="width: 55%;"/>
        </colgroup>
        <tbody>
        <tr>
            <td><b>Usage Agreement No.</b></td>
            <td colspan="2">Assign a number that indicates the experiment or supplier,<br/>
                i.e., ONR-701-1-XXX.
            </td>
        </tr>
        <tr>
            <td><b>Project</b></td>
            <td colspan="2">i.e. CRRES</td>
        </tr>
        <tr>
            <td><b>Subsystem</b></td>
            <td colspan="2">Experiment, Spacecraft, Cradle, etc.</td>
        </tr>
        <tr>
            <td><b>Originator</b></td>
            <td colspan="2">Person responsible for preparing and/or submitting the MUA.</td>
        </tr>
        <tr>
            <td><b>Organization</b></td>
            <td colspan="2">Organization submitted the MUA.</td>
        </tr>
        <tr>
            <td><b>Detail Drawing(s)</b></td>
            <td colspan="2">Drawing number where the material is to be used, showing where and how it is to be
                used.
            </td>
        </tr>
        <tr>
            <td><b>Using Assembly</b></td>
            <td colspan="2">Nomenclature of the Assembly using the material.</td>
        </tr>
        <tr>
            <td><b>Item Description</b></td>
            <td colspan="2">Noun description of the part, coating, etc. i.e., bolt cover plate, bracket, PC
                Board, etc.
            </td>
        </tr>
        <tr>
            <td><b>Issue</b></td>
            <td colspan="2">What is the issue which requires the MUA to be submitted, i.e., flammability,
                outgassing, stress corrosion, etc.
            </td>
        </tr>
        <tr>
            <td><b>Material</b></td>
            <td colspan="2">Description of material, Aluminium 6061-T6, Teflon TFE, etc.</td>
        </tr>
        <tr>
            <td><b>Trade Name</b></td>
            <td colspan="2">Name of material, i.e., Nylon, Teflon, Polycoat, Loctite, etc.</td>
        </tr>
        <tr>
            <td><b>Specification</b></td>
            <td colspan="2">Specification to which the material was manufactured, i.e., Military, NASA,
                Industry Standards, Company, etc.
            </td>
        </tr>
        <tr>
            <td><b>Manufacturers</b></td>
            <td colspan="2"> Name of manufacturers.</td>
        </tr>
        <tr>
            <td><b>Thickness</b></td>
            <td colspan="2">Thickness in inches or millimeters</td>
        </tr>
        <tr>
            <td><b>Weight</b></td>
            <td colspan="2">Weight in pounds or grams.</td>
        </tr>
        <tr>
            <td><b>Exposed Area</b></td>
            <td colspan="2">What is the overall surface area exposed, for complex surfaces an estimate will be
                acceptable.
            </td>
        </tr>
        <tr>
            <td><b>Location</b></td>
            <td colspan="2">Is the material to be used inside with the crew or outside exposed to space?</td>
        </tr>
        <tr>
            <td><b>Pressure</b></td>
            <td colspan="2">Vacuum or some pressurized medium. State value.</td>
        </tr>
        <tr>
            <td><b>Temperature</b></td>
            <td colspan="2">What are the expected temperature limits?</td>
        </tr>
        <tr>
            <td><b>Media</b></td>
            <td colspan="2">Vacuum air, GN2, O2N2 or some special fluid or gas. Give composition.</td>
        </tr>
        <tr>
            <td><b>Application</b></td>
            <td colspan="2">How is the material used, i.e. PC board, conformal coating, structural part,
                shield, cover, insulator, lubricant, etc.
            </td>
        </tr>
        <tr>
            <td rowspan="15"><b>Rationale</b></td>
            <td colspan="2">The rationale should address the following areas and do not try to be too brief.
                Write the rationale such that an engineer not familiar with your programme can
                understand your specific programme usage. Cost, previous usage, schedule are not
                reasons for use of a material.
            </td>
        </tr>
        <tr>
            <td rowspan="4">a)</td>
            <td>Basic Ground Rules<br/><br/>
                1. Materials in a sealed container do require MUA`s. Rationale should be as a group of all materials in
                container.
            </td>
        </tr>
        <tr>
            <td>2. Materials listed as acceptable in MSFC-HDBK-527 do not normally require MUA`s.
            </td>
        </tr>
        <tr>
            <td>3. Materials listed in MSFC-HDBK-527 that are rated acceptable in other ways need only address the ways
                that are rated unacceptable if they are used in contact with the media/fluid specified.
            </td>
        </tr>
        <tr>
            <td>Note: If a material is rated "X" for TVS and "A" for TOX, if the material is used in the Crew Bay; TVS
                need not be addressed. Similarly, if a material is rated "X" for hydrazine but is not used in hydrazine,
                do not address the "X" rating.
            </td>
        </tr>
        <tr>
            <td rowspan="10">b)</td>
            <td>Areas to be addressed - Materials are divided into basic categories, metallic and
                non-metallic.<br/><br/>
                MSFC-HDBK-527 describes how materials are rated for each requirement/fluid. Each area should be
                addressed in the MUA for the non A-rated area, if the material application "sees" the media/requirement.
                Acceptable factors need not be addressed. Disciplines to be addressed for metals are stress corrosion,
                stress corrosion cracking, fluid system compatibility, flammability, dissimilar metals.
            </td>
        </tr>
        <tr>
            <td>Stress Corrosion</td>
        </tr>
        <tr>
            <td>Stress Corrosion Cracking Materials susceptible to stress corrosion cracking require evaluation of
                sustained tensile stresses. The stress evaluation form must be completed for this evaluation.
            </td>
        </tr>
        <tr>
            <td>Fluid Systems Compatibility If the material application is not used in a fluid system, MUA is not
                required.
            </td>
        </tr>
        <tr>
            <td>Flammability If the metal is not flammable, MUA is not required. If the metal is flammable in the
                thickness used, you must address these questions: Is the metal in a closed container? Is there an
                ignition source in the proximity? What is the media for ground ops and flight?
            </td>
        </tr>
        <tr>
            <td>Factors to be addressed for non metallic materials are: flammability, toxicity/offgassing, thermal
                vacuum stability, age life, fluid systems compatibility.
            </td>
        </tr>
        <tr>
            <td>Flammability Items to be addressed here are:<br/><br/>
                quantity, is the box closed or open, what is the media for
                ground test and flight and is there an ignition source in the proximity.
            </td>
        </tr>
        <tr>
            <td>Toxicity/Offgassing (for items in habitable environment, crew bay only). Items to be addressed are:
                Quantity, is the material coated to prevent outgassing? Will the material be degraded by outgassing?
                Will the outgassing constituent be condensed on surrounding equipment and be detrimental? Is the box
                closed or open?
            </td>
        </tr>
        <tr>
            <td>Age Life (see definition in MSFC-HDBK-527) The key here is that you must verify for yourself that the
                material will last for the duration of the mission. This will include shelf life, fabrication, testing,
                storage and mission life.
            </td>
        </tr>
        <tr>
            <td>Fluid System Compatibility If the material is not in contact with degrading corrosive fluids, a MUA is
                not required. However, if the materials are used in contact with fluids that are not compatible,
                justification must be supplied.
            </td>
        </tr>
        <tr>
            <td><b>Originator</b></td>
            <td colspan="2">Signature</td>
        </tr>
        <tr>
            <td><b>Program/Project Manager</b></td>
            <td colspan="2">Signature</td>
        </tr>
        <tr>
            <td><b>Date</b></td>
            <td colspan="2">Date Signed</td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>