<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-04.09">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-04.09 - Hardware Software Interaction Analysis (HSIA)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="3">Reference:</td>
            <td>ECSS-Q-ST-30-02C</td>
            <td>Space product assurance - Failure Modes, effects (and criticality) analysis (FMEA/FMECA)</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-40C</td>
            <td>Space product assurance - Safety</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-80C</td>
            <td>Space product assurance - Software product assurance</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>SW reaction to HW failures is addressed by the HSIA. The analysis shall verify that the SW is specified
                to react to HW failures as required. This shall be performed at the level of the Software Requirement
                Document (SRD). The HSIA may be included in the FMECA.<br/>
                The HSIA can be performed with the aid of the check-list in annex.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>To ensure that the SW is designed to react correctly to hardware failures. The functional analysis shall
                take into account the interaction of the SW with its environment (system H/W, human intervention, etc.)
                jointly with the system level analysis.<br/>
                The HSIA shall be performed concurrently with the FMEA/FMECA for all HW products involving SW (e.g. SW
                controlled). The analysis shall be provided early in the programme to influence the design process and
                the necessary system requirements (HW and SW).<br/>
                The SW specialists shall manage the HW/SW interaction throughout the
                project by performing the following activities:
                <ul>
                    <li>assessment and allocation of requirements (e.g. safety: failuretolerant);</li>
                    <li>define/describe HW and SW interaction design or methods;</li>
                    <li>define/describe HW and SW interaction operational modes;</li>
                    <li>identification of parameters to trigger the SW;</li>
                    <li>hazard events / safety related non-conformances detection, identification and evaluation
                        according to applicable FDIR requirements for the system;
                    </li>
                    <li>hazard prevention, reduction and control;</li>
                    <li>failure mode: summary of failure mode description</li>
                </ul>

                The HSIA shall be performed to provide the following results:
                <ul>
                    <li>inputs to the list of critical items (CIL),</li>
                    <li>recommendations and remarks</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>The HSIA shall be documented by completing the attached forms<br/>
                SW that implements or controls safety-critical functions shall be subject to safety analysis
                (ECSS-Q-ST-40C).<br/>
                The HW and SW configuration shall be identified and documented as part of the test documentation.<br/>
                The FMEA/FMECA worksheet shall be completed as follows: <br/>
                <ul>
                    <li>in each column: add "S/W" if SW is involved,</li>
                    <li>local/end effect: add point 10 of HSIA form,</li>
                    <li>failure detection: add points 6 and 7 of HSIA form,</li>
                    <li>recovery/compensation: add points 8 and 9 of HSIA form</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <page-before align="center">
        HSIA tabular form (ECSS-Q-ST-30-02C)
        <table class="word-wrap center-bold bordered" style="table-layout: auto; font-size:x-small">
            <colgroup>
                <col width="50%"/>
                <col width="50%"/>
            </colgroup>
            <thead>
            <tr>
                <th colspan="2">"Hardware/Software interaction Analysis (HSIA)"</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1. Subsystem/Equipment</td>
                <td>2. HSIA sheet number:</td>
            </tr>
            <tr>
                <td>3. FMEA/FMECA reference:</td>
                <td>4. Failure mode:</td>
            </tr>
            <tr>
                <td colspan="2">5. RB/TS reference</td>
            </tr>
            <tr>
                <td>6. Identification of parameters used to trigger the S/W action:</td>
                <td>7. RB/TS requirement number for software triggering:</td>
            </tr>
            <tr>
                <td>8. Description of S/W action:</td>
                <td>9. RB/TS requirements for S/W action:</td>
            </tr>
            <tr>
                <td>10. Description of the effects of the S/W action on the H/W:</td>
                <td>11. Is there sufficient S/W action? Y/N</td>
            </tr>
            <tr>
                <td colspan="2">12. Assessment of S/W actions: Is the S/W action as expected? yes/no</td>
            </tr>
            <tr>
                <td colspan="2">13. Recommendations</td>
            </tr>
            <tr>
                <td colspan="2">14. Remarks</td>
            </tr>
            </tbody>
        </table>
    </page-before>

    <page-before align="center">
        Table HSIA checklist
        <table class="word-wrap center-bold bordered" style="table-layout: auto; font-size:x-small">
            <colgroup>
                <col width="12%"/>
                <col width="13%"/>
                <col width="12%"/>
                <col width="13%"/>
                <col width="12%"/>
                <col width="13%"/>
                <col width="13%"/>
                <col width="12%"/>
            </colgroup>
            <thead>
            <tr>
                <th colspan="8">"Hardware/Software interaction Analysis (HSIA)"</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="4">Subsystem:</td>
                <td colspan="4">FMECA number:</td>
            </tr>
            <tr>
                <td colspan="4">Item:</td>
                <td colspan="4">Failure mode:</td>
            </tr>
            <tr>
                <td>No</td>
                <td colspan="6">Question</td>
                <td>Yes/no</td>
            </tr>
            <tr>
                <td>1a</td>
                <td colspan="6">Does the information provided to the software and its processing cause the presence of a
                    failure to the passed to the software and/or initiate a corrective action in response?
                </td>
                <td></td>
            </tr>
            <tr>
                <td>1b</td>
                <td colspan="6">If the answer to 1a is "no", does the hardware provide the information that the software
                    can use to detect the failure?
                </td>
                <td></td>
            </tr>
            <tr>
                <td>1c</td>
                <td colspan="6">Are the answers to 1a and 1b consistent with the FMECA analysis of observable symptoms?
                </td>
                <td></td>
            </tr>
            <tr>
                <td>2a</td>
                <td colspan="6">Does the flight software take action to negate the effects of failure?</td>
                <td></td>
            </tr>
            <tr>
                <td>2b</td>
                <td colspan="6">If the answer to 2a is "no", does the capability exist for the software to compensate
                    for this failure mode?
                </td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td colspan="6">As a result of this failure mode, can the software cause the hardware to be
                    over-stressed, or induce another failure?
                </td>
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td colspan="6">Can this failure mode, in combination with software logic, adversely affect other
                    functions?
                </td>
                <td></td>
            </tr>
            <tr>
                <td>5</td>
                <td colspan="6">What are the failure tolerance characteristics of the design regarding this failure mode
                    (take into account ground or crew intervention, or software compensation); how many failures can be
                    tolerated (1 2 3)?
                </td>
                <td></td>
            </tr>
            <tr>
                <td>6</td>
                <td colspan="6">If ground or crew action is required to respond to this failure mode, is telemetry, or
                    cues, provided to signal the need for intervention?
                </td>
                <td></td>
            </tr>
            <tr>
                <td>7</td>
                <td colspan="6">Is the response time limited by mission success factors?
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="8">Change/Retention rationale summary</td>
            </tr>
            <tr>
                <td colspan="4">1. No HW/ or SW issues:</td>
                <td colspan="4">2. H/W accepts risk:</td>
            </tr>
            <tr>
                <td colspan="4">3. No S/W detection:</td>
                <td colspan="4">4. Detection during check-out:</td>
            </tr>
            <tr>
                <td colspan="4">5. Acceptance rationale:</td>
                <td colspan="4">6. Recommendations:</td>
            </tr>
            <tr>
                <td colspan="8">7. FMEA/FMECA change recommended:</td>
            </tr>
            <tr>
                <td colspan="8">COMMENTS:</td>
            </tr>
            </tbody>
        </table>
    </page-before>
</div>
</body>
</html>