<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>DRD-07.07 - Declared Process List (DPL)</title>

    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-07.07">
    <table class="titel" aria-label="title">
        <tbody>
        <tr>
            <td><h2>DRD-07.07 - Declared Process List (DPL)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference" aria-label="reference">
        <tbody>
        <tr>
            <td rowspan="9">Reference:</td>
            <td>ECSS-Q-ST-70C</td>
            <td>Space product assurance - Materials, mechanical parts and processes</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-70-02C</td>
            <td>Space product assurance - Thermal vacuum outgassing test for the screening of space materials</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-70-04C</td>
            <td>Space product assurance - Thermal testing for the evaluation of space materials, processes, mechanical
                parts and assemblies
            </td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-70-06C</td>
            <td>Space product assurance -Particle and UV radiation testing of space materials</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-70-21C</td>
            <td>Space product assurance - Flammability testing for the screening of space materials</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-70-29C</td>
            <td>Space product assurance - The Determination of offgassing products from materials and assembled articles
                to be used in a manned space vehicle crew compartment
            </td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-70-36C</td>
            <td>Space product assurance- Material selection for controlling stress-corrosion cracking</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-70-37C</td>
            <td>Space product assurance - Determination of susceptibility of metals to stress-corrosion cracking</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-70-71C</td>
            <td>Space product assurance - Data for selection of space materials and processes</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose" aria-label="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>To provide a common and complete list of all processes the P/L is made of. The DPL shall be
                consolidated by the contract holder on the basis of data obtained from his sub supplier and shall
                reflect the current design at the time of issue. The data in the DML make possible to assess whether the
                processes are suitable for a specific application.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content" aria-label="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td> DPL shall be broken down into clear categories to facilitate locating each item in the
                documentation.<br/>
                The DPL shall include the following:
                <ul>
                    <li>item number (as the reference of the process in the DPL),</li>
                    <li>process identification,</li>
                    <li>process specification,</li>
                    <li>process description,</li>
                    <li>use and location,</li>
                    <li>process supplier/manufacturer's name,</li>
                    <li>associated DML items,</li>
                    <li>criticality of process,</li>
                    <li>approved status (with reference to the approval authority and to test data).</li>
                </ul>
                <p class="note">
                    Use of codes: any coding or acronyms used within the list shall be defined within the DPL.
                </p>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format" aria-label="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>Example for DPL see below or use an appropriate in-house form or a computer-generated list (computer
                printout).<br/> <br/>
                <p class="note">
                    For payloads using ISS a MIUL&#xa0; shall be prepared in lieu of DML.
                </p>
            </td>
        </tr>
        </tbody>
    </table>

    <page-before align="center">
        <img src="drd-07.07.gif" class="center" width="515" height="956" alt="drd-07.07.gif"/>
    </page-before>

    <page-before/>

    <h3>Contents of the Declared Process List (DPL)</h3>

    <h4>Process groups:</h4>
    Processes are classified into 17 groups depending on their type or their main use:
    <ol start="1">
        <li>Adhesive bonding</li>
        <li>Composite manufacture</li>
        <li>Encapsulation/moulding</li>
        <li>Painting/coating</li>
        <li>Cleaning</li>
        <li>Welding/brazing</li>
        <li>Crimping/stripping/wire wrapping</li>
        <li>Soldering</li>
        <li>Surface treatments</li>
        <li>Plating</li>
        <li>Machining</li>
        <li>Forming</li>
        <li>Heat treatment</li>
        <li>Special fabrication: processes developed specifically for the programme</li>
        <li>Marking</li>
        <li>Miscellaneous processes</li>
        <li>Inspection procedures.</li>
    </ol>
    If for a given project it is considered necessary to create new groups, these shall have numbers over 17.<br/>
    The process list consists of 10 columns which shall be completed as indicated below. If a particular item does not
    apply, write N.A. (Not Applicable). <br/>
    Processes which apply to, only one material (one DML item) and which are sufficiently defined in column 5 of the DML
    should not appear in the DPL (unless they are critical).

    <h4>COLUMN 1: Item number</h4>
    This consists of the process identifier and the user code. It takes the form of e.g. "1.2.1.SSEX"<br/>
    Characteristics of the item number are:
    <ul>
        <li>The sub supplier shall be identified by an agreed code for the project.</li>
        <li>One only per process type.</li>
        <li>Does not change during the life of the process list.</li>
    </ul>

    <h4>COLUMN 2: Process identification</h4>
    The correct and standard identification of the process shall be indicated, e.g. the process name or title: bonding,
    coating or soldering.

    <h4>COLUMN 3: Specification</h4>
    The name or abbreviation of the process executor shall be identified. A reference shall be made to the associated
    procedure, e.g. national, international, EN, ISO, ECSS or company in-house, together with the issue, revision and
    date.

    <h4>COLUMN 4: Process description</h4>
    A short description of the process shall be entered.

    <h4>COLUMN 5: Use and location</h4>
    The codes entered shall define the location of the process with respect to the:
    <ul>
        <li>subsystem,</li>
        <li>particular piece of equipment (box or item),</li>
        <li>use of the equipment (e.g. a structural element, thermal control, electrical insulation).</li>
    </ul>

    <h4>COLUMN 6:</h4>
    This column number is not used.

    <h4>COLUMN 7: Associated Items number</h4>
    The associated material list (DML) or mechanical parts list (DMPL) with the process shall be entered.

    <h4>COLUMN 8: Criticality</h4>
    Enter "C" for critical or "N" for non-critical.<br/>
    If a process is considered to be critical, references to the relevant RFA shall be entered.

    <h4>COLUMN 9.1: Supplier reference, prime comments and approval</h4>
    The purpose of this is to enter any additional information that may be necessary in order to achieve customer's
    approval. This information comprises reference and issue of the RFA / approval, processes justification file,
    evaluation reports and waivers. These documents must be made available to customer on request.

    <h4>COLUMN 9.2: Supplier's approval</h4>
    The supplier reference and approval columns shall be used to enter any additional information that can be necessary
    to obtain customer approval.<br/>
    The supplier approval status code shall be selected from Table.
    <table class="bordered show-empty word-wrap center-bold" style="table-layout: auto" aria-label="supplier approval status">
        <colgroup>
            <col style="width: 10%;"/>
            <col style="width: 90%;"/>
        </colgroup>
        <thead>
        <tr>
            <th><strong>Code</strong></th>
            <th><strong>Description</strong></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><strong>A:</strong></td>
            <td> Approved. All processes classified "A" may be used without restriction.</td>
        </tr>
        <tr>
            <td><strong>X:</strong></td>
            <td> Approved with a RFA. These processes shall be subjected to an evaluation or validation programme. The
                RFA number shall be entered as a comment.
            </td>
        </tr>
        <tr>
            <td><strong>W:</strong></td>
            <td>Approved with a concession. These processes do not meet the requirements but are used for functional
                reasons. The use of such processes shall be reduced to a minimum. All deviation requests shall be
                approved by the customer. The concession number shall be entered as a comment.
            </td>
        </tr>
        <tr>
            <td><strong>P:</strong></td>
            <td>Pending a decision. Processes for which an evaluation report or a concession is waiting for the
                supplier´s provisional or definitive approval.
            </td>
        </tr>
        <tr>
            <td><strong>O:</strong></td>
            <td>Open. New processes or processes for which investigations and validations are in progress.</td>
        </tr>
        <tr>
            <td><strong>R:</strong></td>
            <td>Rejected.</td>
        </tr>
        <tr>
            <td><strong>D:</strong></td>
            <td>Deleted. This classification is used for a process that is no longer used .</td>
        </tr>
        <tr>
            <td colspan="2">If approval cannot be given and one of the other codes are entered, comments shall be
                entered in the
                appropriate column.
            </td>
        </tr>

        </tbody>
    </table>

    <h4>COLUMN 10: The customer approval status code and comments</h4>
    This code shall be selected from table. Additional comments shall be included where appropriate.

</div>
</body>
</html>