<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>DRD-07.06 - Declared Mechanical Parts List (DMPL)</title>

    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-07.06">
    <table class="titel" aria-label="title">
        <tbody>
        <tr>
            <td><h2>DRD-07.06 - Declared Mechanical Parts List (DMPL)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference" aria-label="reference">
        <tbody>
        <tr>
            <td rowspan="3">Reference:</td>
            <td>ECSS-Q-ST-70C</td>
            <td>Space product assurance - Materials, mechanical parts and processes</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-70-04C</td>
            <td>Space product assurance - Thermal testing for the evaluation of space materials, processes, mechanical
                parts and assemblies
            </td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-70-29C</td>
            <td>Space product assurance - The Determination of offgassing products from materials and assembled articles
                to be used in a manned space vehicle crew compartment
            </td>
        </tr>
        </tbody>
    </table>

    <table class="purpose" aria-label="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>The purpose of the DMPL is to have detailed record of all the mechanical parts used to produce the
                products of a project or programme.<br/>
                The data in the DMPL make possible to assess whether the mechanical parts are suitable for a specific
                application, at the supplier and customer levels (in the approval status column).<br/>
                The DMPL is prepared for each "Configuration item" at the relevant stages (e.g. Start, PDR, CDR and
                QRR). The DML shall be consolidated by the contract holder on the basis of data obtained from his sub
                suppliers and shall reflect the current design at the time of issue.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content" aria-label="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>The DMPL format shall include the following statement:<br/>
                "Mechanical parts are classified into 11groups depending on their type &#xa0;or their main use" (see
                Table below). If, for a given project it is considered necessary to create new groups, these shall have
                numbers over 61. Items that appear in the EEE parts list should not be repeated here.<br/><br/>
                <p class="note">
                    For example, heaters, some valves, thermostats, relays, transformer coils and solenoids.
                </p>
                The DMPLformat shall include the following information:
                <ul>
                    <li>item number (as the reference of the part in the DMPL); it shall be the same throughout the
                        duration of the project,
                    </li>
                    <li>part designation (commercial identification),</li>
                    <li>type of part,</li>
                    <li>manufacturer and procurement specifications or standards,</li>
                    <li>summary of functions and characteristics use and location,</li>
                    <li>environmental code,</li>
                    <li>criticality</li>
                    <li>supplier reference, prime contractor comments and prime approval status</li>
                    <li>customer approval status</li>
                </ul>
                Use of codes: <br/>
                any coding or acronyms used within the list shall be defined within the document. Only those mechanical
                parts procured to a specification as a finished product shall be entered on the DMPL.<br/>

                <blockquote class="note">
                    Use of codes: any coding or acronyms used within the list shall be defined within the DMPL.
                </blockquote>

                <strong>Mechanical part group numbers:</strong>
                <table class="bordered show-empty word-wrap center-bold" style="table-layout: auto" aria-label="mechanical part group numbers">
                    <colgroup>
                        <col style="width: 30%;"/>
                        <col style="width: 70%;"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Group number</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>51</td>
                        <td>Spacing parts (e.g. washers and spacers)</td>
                    </tr>
                    <tr>
                        <td>52</td>
                        <td>Connecting parts (e.g. bolts, nuts, rivets, inserts and clips)</td>
                    </tr>
                    <tr>
                        <td>53</td>
                        <td>Bearing parts (e.g. ball-bearings and needle bearings)</td>
                    </tr>
                    <tr>
                        <td>54</td>
                        <td>Separating parts (e.g. pyrotechnics, springs and cutters)</td>
                    </tr>
                    <tr>
                        <td>55</td>
                        <td>Control parts (e.g. gears)</td>
                    </tr>
                    <tr>
                        <td>56</td>
                        <td>Fluid handling parts (e.g. diffusers)</td>
                    </tr>
                    <tr>
                        <td>57</td>
                        <td>Heating parts</td>
                    </tr>
                    <tr>
                        <td>58</td>
                        <td>Measuring instruments (e.g. gauges and thermocouples)</td>
                    </tr>
                    <tr>
                        <td>59</td>
                        <td>Optical passive equipment</td>
                    </tr>
                    <tr>
                        <td>60</td>
                        <td>Magnetic parts</td>
                    </tr>
                    <tr>
                        <td>61</td>
                        <td>Other parts</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format" aria-label="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>Example for DMPL see below or use an appropriate in-house form or a computer-generated list (computer
                printout).
            </td>
        </tr>
        </tbody>
    </table>

    <page-before align="center">
        <img src="drd-07.06.gif" class="center" width="483" height="973" alt="drd-07.06.gif"/>
    </page-before>

    <page-before/>

    <h3>Contents of the DMPL</h3>
    The header information identifies the list as the declared materials list and includes the issue number and the date
    of issue. It may include the relevant CI number (configuration item number as per project definition), The materials
    group number may also be included here.

    <h4>1. Item number (applicable at equipment supplier level only)</h4>
    <ol>
        <ol style="list-style-type:lower-alpha">
            <li>This consists of the mechanical part identifier and the user code. It takes the form:<br/>
                &lt;group number&gt;,&lt;identifier within the group&gt;,&lt;running number&gt;,&lt;user
                code&gt;<br/>
                e.g. 7.2.1.ACSA.
            </li>
            <li>Characteristics of the item number are:
                <ul>
                    <li>Identify the subcontractor shall be identified by an agreed user code for the project.
                    </li>
                    <li>One only per mechanical part type.</li>
                    <li>Does not change during the life of the mechanical parts list</li>
                </ul>
            </li>
        </ol>
    </ol>

    <h4>2. Commercial identification</h4>
    The correct and standard designation shall be entered such as trade name plus number.<br/>
    If no trade name exists then the manufacturer's name and number shall be entered.

    <h4>3. Type of part</h4>
    The material and surface treatment (if applicable) shall be described.

    <h4>4. Procurement information</h4>
    Manufacturer or distributor: name of the manufacturer and name of the distributor if different.<br/>
    Procurement specification: reference of the procurement specification with issue, revision and date. It may be
    replaced by a national or international specification or standard if this exists and identifies the source of
    procurement if relevant.

    <h4>5. Elementary function, main characteristics</h4>
    The function of the mechanical part shall be entered.<br/>
    The main characteristics of the mechanical part shall be entered, e.g. number of revolutions per minute for a ball
    bearing.

    <h4>6. Use and location</h4>
    The codes entered shall define the location of the mechanical part with respect to the:
    <ul>
        <li>subsystem;</li>
        <li>particular piece of equipment (box or item);</li>
        <li>use of the equipment.</li>
    </ul>

    <h4>7. Environmental code</h4>
    The environmental code is defined using the following table
    <table class="bordered show-empty word-wrap center-bold" style="table-layout: auto" aria-label="environmental code">
        <colgroup>
            <col style="width: 25%;"/>
            <col style="width: 25%;"/>
            <col style="width: 25%;"/>
            <col style="width: 25%;"/>
        </colgroup>
        <thead>
        <tr>
            <th colspan="2"><strong>Radiation/UV/ATOX (R)</strong>a</th>
            <th><strong>Ambience (A)</strong></th>
            <th><strong>Temperature (T)</strong>b,c</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>G: Geostationary<br/>
                L: Low Orbit<br/>
                B: Radiation belt<br/>
                I: Interplanetary<br/>
                P: Planetary
            </td>
            <td>S: Outside shadow<br/>
                L: Outside light
            </td>
            <td>V: Vacuum<br/>
                H: Hermetic<br/>
                M: Manned<br/>
                E: Elevated pressure
            </td>
            <td>1: 0 to 100K<br/>
                2: 101 to 200K<br/>
                3: 201 to 300K<br/>
                ...........
            </td>
        </tr>
        <tr>
            <td colspan="4">
                For all mechanical parts, a letter is selected from the left-hand column. For mechanical parts on the
                surface of the spacecraft, the letter "L" or "S" is added.
                <ol>
                    <li>Thermal cycling to be indicated by two values, e.g. 3/5.</li>
                    <li>"RT" (room temperature) can be accepted as a code between&#xa0;283 K (10 °C) and 313 K (40 °C).
                    </li>
                </ol>
            </td>
        </tr>
        </tbody>
    </table>

    <h4>8.Criticality</h4>
    Enter "C" for critical or "N"&#xa0;for non-critical. If a mechanical part is considered critical the reason for the
    criticality and methods of control shall be entered.

    <h4>9. Supplier reference, prime comments and prime approval status</h4>
    Use the supplier reference, prime comments and approval columns to enter any additional information that can be
    necessary in order to obtain customer approval.
    <ol style="list-style-type:lower-alpha">
        <li>This information comprises reference and issue of the RFA or approval, mechanical parts justification file,
            evaluation reports and deviation requests.
        </li>
        <li>Make reference to the relevant test data that demonstrates acceptability of the mechanical part under the
            environment conditions and the application relevant to the particular project concerned.
        </li>
        <li>Use standard abbreviations, defined by the customer, to summarize the acceptance status of a mechanical&#xa0;
            part for a particular property.
        </li>
        <li>In order to justify the use of a material for flammability resistance, list here the material thickness and
            height of oxygen share.
        </li>
        <li>Select the prime approval status code from Table below</li>
    </ol>
    The prime approval status code shall be selected from the table.<br/>
    <strong>Approval Status</strong>
    <table class="bordered show-empty word-wrap center-bold" style="table-layout: auto" aria-label="approval status">
        <colgroup>
            <col style="width: 10%;"/>
            <col style="width: 90%;"/>
        </colgroup>
        <thead>
        <tr>
            <th><strong>Code</strong></th>
            <th><strong>Description</strong></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><strong>A</strong></td>
            <td>Approved. All mechanical parts classified "A" may be used without restriction.</td>
        </tr>
        <tr>
            <td><strong>X</strong></td>
            <td>Approved with a RFA. These mechanical parts shall be subjected to an evaluation or validation
                programme. The RFA number shall be entered as a comment.
            </td>
        </tr>
        <tr>
            <td><strong>W</strong></td>
            <td>Approved with a concession. These mechanical parts do not meet the requirements but are used
                for functional reasons. The use of such mechanical parts shall be approved by the customer. The
                concession number shall be entered as a comment.
            </td>
        </tr>
        <tr>
            <td><strong>P</strong></td>
            <td>Pending a decision. Mechanical parts for which an evaluation report or a concession is waiting for the
                supplier´s provisional or definitive approval.
            </td>
        </tr>
        <tr>
            <td><strong>O</strong></td>
            <td>Open. New mechanical parts or mechanical parts for which investigations and validations are in progress.
            </td>
        </tr>
        <tr>
            <td><strong>R</strong></td>
            <td>Rejected.</td>
        </tr>
        <tr>
            <td><strong>D</strong></td>
            <td>Deleted. This classification is used for a mechanical part that is no longer used.</td>
        </tr>
        <tr>
            <td colspan="2">If approval cannot be given and one of the other codes are entered, comments shall be
                entered in the appropriate column.
            </td>
        </tr>
        </tbody>
    </table>

    <h4>10. The customer approval status code and comments</h4>
    This code shall be selected from the table.<br/>
    Additional comments shall be included where appropriate.

</div>
</body>
</html>