<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-04.06">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-04.06 - Functional Block Diagram</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td>Reference:</td>
            <td>ECSS-Q-ST-30-02C</td>
            <td>Space product assurance - Failure Modes, effects (and criticality) analysis (FMEA/FMECA)</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>In order to design, develop and prove a system/subsystem, the mission and consequent functions, that
                the system shall perform, shall be clearly established. A functional block diagram shall be constructed
                to depict the elements of the analysed systems and their functional interdependencies.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>A functional block diagram shall be a system representation which emphasizes interfaces and
                interrelationships between functional entities (input/output flows). The elements of the analysed
                product are shown as blocks. A numerical reference for all blocks in the functional block diagram shall
                be provided by using a standard numbering system to provide consistent identification of items and
                functions. The functional interdependencies between the blocks are indicated on the connection lines
                between the blocks. The following functional analysis steps shall be implemented:
                <ul type="disc">
                    <li>define the system and boundaries of the system under analysis by using the relevant requirements
                        documents;
                    </li>
                    <li>define the level of detail (depth of analysis);</li>
                    <li>identify the system functions/operational modes/operational scenarios;</li>
                    <li>represent the system by preparing the function tree(s), or functional matrix(ces), or functional
                        block diagram(s).
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>An example of FBD is provided hereafter. The system functionality shall be distributed throughout the
                different design levels (e.g. systems, subsystems, units).
            </td>
        </tr>
        </tbody>
    </table>

    <page-before align="center">
        <b>Typical Functional Block Diagram of Hot Gas System</b>
        <img src="drd-04.06.gif" class="center" width="620" height="584"/>
    </page-before>

</div>
</body>
</html>