<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-03.07">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-03.07 - Mandatory Inspection Point Report (MIP-Report)</h2></td>
        </tr>
        </tbody>
    </table>


    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="3">Reference:</td>
            <td>N/A</td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>To check and document compliance and acceptability of the product on the basis of the production
                documentation.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>The MIP Report shall be established to document the results of any MIP or safety related inspection.
                <br/>
                The MIP Report shall be submitted to the customer after each event.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>In-house<br/>
                (Example for MIP Report see below)
            </td>
        </tr>
        </tbody>
    </table>

    <page-before align="center">
        <img src="drd-03.07.gif" class="center" width="591" height="809"/>
    </page-before>
</div>
</body>
</html>