<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-07.05">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-07.05 - Ionizing Radiation Source Data Sheet (JSC Form 44)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="4">Reference:</td>
            <td>JSC Form 44</td>
            <td>Ionizing Radiation Source Data Sheet Space Flight Hardware and Applications</td>
        </tr>
        <tr>
            <td>NSTS/ISS 13830</td>
            <td>Payload Safety Review and Data Submittal Requirements for Payloads Using the Space Shuttle &amp;
                International Space Station
            </td>
        </tr>
        <tr>
            <td>KHB 1860.1</td>
            <td>KSC Ionizing Radiation Protection Program</td>
        </tr>
        <tr>
            <td>SSP 30599</td>
            <td>Safety Review Process, International Space Station Alpha Program</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>The purpose of this document/form is to support the payload safety review process in order to assist the
                Payload Organizations (PO's) in documenting compliance with the payload requirements documents.
                Sufficient supporting data must be attached to the HRs (see DRD-5.19) to complete the presentation of
                hazard control and to demonstrate complete compliance with requirements. The objective of the safety
                review process is to review the payload, Ground Support Equipment (GSE), and operations for adequate
                safety implementation. The mission success and any scientific objectives of the payload are the
                responsibility of the PO and are beyond the scope of this document and process.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>Data submittal requirements included herein apply to HW being submitted to both the Payload Safety
                Review Panel (PSRP) and the Ground Safety Review Panel (GSRP) unless specified otherwise. The PSRP and
                the GSRP reserve the right to request additional data as deemed necessary to support safety
                documentation (supporting technical SDA data submittals).<br/> <br/> Each ISSA HR should stand alone.
                Data required to understand the hazard should be attached to the report. The support data shall be
                prepared where applicable and also submitted for review (phase HRs).<br/> <br/> Attached supporting data
                are:
                <ul type="disc">
                    <li>JSC Form 44 describing all uses of radioactive materials or radiation generators;</li>
                    <li>Radioactive Payloads Working Group approval memorandum for JSC Form 44.</li>
                </ul>
                The form shall be submitted:
                <ul type="disc">
                    <li>attached to the HR,</li>
                    <li>as part of the SDP or</li>
                    <li>submitted to the PSRP Executive Secretary/GSRP Chairman.</li>
                </ul>
                The JSC Form 44 will be used as the standard form for the support.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>
                <ul type="disc">
                    <li>PSRP: New/updated JSC Form 44.<br/>
                        GSRP: Forms in accordance with KHB 1860.1 (if required).
                    </li>
                    <li>Initially submitted at the different phases (I to III).</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <page-before/>

    <table class="bordered show-empty word-wrap center-bold" style="table-layout: auto">
        <colgroup>
            <col style="width: 35%;"/>
            <col style="width: 15%;"/>
            <col style="width: 15%;"/>
            <col style="width: 35%;"/>
        </colgroup>
        <tbody>
        <tr>
            <td colspan="4"><b>IONIZING RADIATION SOURCE DATA SHEET<br/>
                SPACE FLIGHT HARDWARE AND APPLICATIONS</b><br/>
                Lyndon B. Johnson Space Center
            </td>
        </tr>
        <tr>
            <td colspan="4">Complete Items 1 through 10 and Part A for radioisotope sources and Part B for ionizing
                radiation-producing equipment
            </td>
        </tr>
        <tr>
            <td colspan="4"><b>IDENTIFICATION</b></td>
        </tr>
        <tr>
            <td colspan="2">1. PAYLOAD DESIGNATION/EXPERIMENT</td>
            <td colspan="2">2. STS NUMBER AND/OR LAUNCH DATE</td>
        </tr>
        <tr>
            <td colspan="2">3. SOURCE USING ORGANIZATION</td>
            <td colspan="2">4. ADDRESS</td>
        </tr>
        <tr>
            <td colspan="2">5. CONTACT</td>
            <td colspan="2">6. TELEPHONE</td>
        </tr>
        <tr>
            <td colspan="2">7. PAYLOAD SPONSOR/MANAGER</td>
            <td colspan="2">8. ADDRESS</td>
        </tr>
        <tr>
            <td colspan="2">9. CONTACT</td>
            <td colspan="2">10. TELEPHONE</td>
        </tr>
        <tr>
            <td colspan="4"><b>PART A. RADIOISOTOPE SOURCES</b></td>
        </tr>
        <tr>
            <td colspan="4"><b>I. SOURCE DESCRIPTION</b></td>
        </tr>
        <tr>
            <td>ISOTOPE</td>
            <td colspan="2">TOTAL QUANTITY (MILLICURIE) <br/>
                (include determination date)
            </td>
            <td>NUMBER OF SOURCES<br/>
                List individual source quantity)
            </td>
        </tr>
        <tr>
            <td colspan="2">CHEMICAL FORM</td>
            <td colspan="2">PHYSICAL STATE</td>
        </tr>
        <tr>
            <td colspan="2">SOURCE SEALED<br/>
                &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
                &#xa0; &#xa0;( ) YES&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; &#xa0; ( )&#xa0; NO
            </td>
            <td colspan="2">IDENTIFICATION NUMBERS</td>
        </tr>
        <tr>
            <td colspan="2">MANUFACTURER</td>
            <td colspan="2">ADDRESS</td>
        </tr>
        <tr>
            <td colspan="4"><b>II. SOURCE USE DATA</b></td>
        </tr>
        <tr>
            <td colspan="4">PURPOSE<br/>
                ( ) EXTERNAL CALIBRATION ( )&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;INFLIGHT
                CALIBRATION ( )&#xa0; OTHER (Describe) ( )&#xa0;<br/>
                CREW<br/>
                INVOLVEMENT/REQUIREMENTS (Include nominal and contingent situation)
            </td>
        </tr>
        <tr>
            <td colspan="4"><b>III. SOURCE DIAGRAM</b></td>
        </tr>
        <tr>
            <td colspan="4">DETAILS ON SEALING; TECHNIQUES; AND DIMENSIONS</td>
        </tr>
        <tr>
            <td colspan="4"> Page 1 of 2</td>
        </tr>
        </tbody>
    </table>

    <page-before/>

    <table class="bordered show-empty word-wrap center-bold" style="table-layout: auto">
        <colgroup>
            <col style="width: 35%;"/>
            <col style="width: 15%;"/>
            <col style="width: 15%;"/>
            <col style="width: 35%;"/>
        </colgroup>
        <tbody>
        <tr>
            <td colspan="4"><b>IV. TEST DATA</b></td>
        </tr>
        <tr>
            <td colspan="2">DATA SOURCE LEAK TESTED</td>
            <td colspan="2">RESULTS (MICROCURING)</td>
        </tr>
        <tr>
            <td colspan="3">THERMO-VACUUM QUALIFIED TO:</td>
            <td>Date:</td>
        </tr>
        <tr>
            <td colspan="3">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; <u>&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;</u>
                &#xa0; MM HG <u>&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;</u>
                &#xa0;DEGREE C.
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td colspan="4"><b>V. PRE-FLIGHT TRANSFERS</b></td>
        </tr>
        <tr>
            <td colspan="4"><b>LOCATIONS WHERE SOURCE IS TO BE USED OR STORED AND APPROXIMATE
                DATES</b></td>
        </tr>
        <tr>
            <td>LOCATIONS</td>
            <td colspan="3">DATED FRoM: TO:</td>
        </tr>
        <tr>
            <td colspan="2">SOURCE CUSTODIAN/RADIATION SAFETY OFFICER</td>
            <td colspan="2">TELEPHONE</td>
        </tr>
        <tr>
            <td colspan="4"><b>VI. POST-FLIGHT DISPOSITION</b></td>
        </tr>
        <tr>
            <td colspan="4">OUTLINE REQUIREMENTS</td>
        </tr>
        <tr>
            <td colspan="4"><b>PART B. IONIZING RADIATION PRODUCING EQUIPMENT</b></td>
        </tr>
        <tr>
            <td colspan="4"><b>I. EQUIPMENT CHARACTERISTICS</b></td>
        </tr>
        <tr>
            <td colspan="4">TYPE OF RADIATION PRODUCED</td>
        </tr>
        <tr>
            <td colspan="2">MAXIMUM ENERGY LEVEL</td>
            <td colspan="2">OPERATING ENERGY LEVEL</td>
        </tr>
        <tr>
            <td>DURATION OF OPERATION<br/>
                &#xa0;&#xa0;&#xa0; <u>&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;</u>
                &#xa0;HOURS TOTAL, ALL UNITS
            </td>
            <td colspan="2"> NO. OF UNITS</td>
            <td>PULSED UNIT DUTY CYCLE</td>
        </tr>
        <tr>
            <td colspan="4"><b>II. RADIATION CHARACTERISTICS</b></td>
        </tr>
        <tr>
            <td colspan="2">RADIATION INTENSITY OF FLIGHT CONFIGURED UNIT<br/>
            </td>
            <td colspan="2">SECONDARY RADIATIONS PRODUCED</td>
        </tr>
        <tr>
            <td> &#xa0;&#xa0; _____ RAD/HR</td>
            <td> &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
                @_______&#xa0; METERS
            </td>
            <td>ENERGY LEVEL &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
                _______&#xa0; KeV
            </td>
            <td>TYPE</td>
        </tr>
        <tr>
            <td colspan="4"><b>III. EQUIPMENT USE DATA</b></td>
        </tr>
        <tr>
            <td colspan="4">CREW INVOLVEMENT/PROCEDURES</td>
        </tr>
        <tr>
            <td colspan="2"> RADIATION PRODUCTION WARNING SYSTEM &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
                ( ) YES (Describe)&#xa0;&#xa0;&#xa0; ( ) NO
            </td>
            <td colspan="2"> SAFETY INTERLOCK SYSTEM <br/> <br/>
                &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;(
                ) YES (Describe)&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; ( ) NO
            </td>
        </tr>
        <tr>
            <td colspan="4"> Page 2 of 2</td>
        </tr>
        </tbody>
    </table>


</div>
</body>
</html>