<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-05.17">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-05.17 - Payload Hazard Report (PHR)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="5">Reference:</td>
            <td>ECSS-Q-ST-40-02C</td>
            <td>Space product assurance - Hazard analysis</td>
        </tr>
        <tr>
            <td>SSP-51700 Baseline DCN004</td>
            <td>Payload Safety Policy and Requirements for the International Space Station</td>
        </tr>
        <tr>
            <td>SSP-30599</td>
            <td>Safety Review Process</td>
        </tr>
        <tr>
            <td>KHB 1700.7<br/> 45 SPW HB-S-100</td>
            <td>Space Shuttle Payload Ground Safety Handbook for Payloads Using the Space Shuttle/International Space
                Station
            </td>
        </tr>
        <tr>
            <td>NSTS/ISS 13830</td>
            <td>Payload Safety Review and Data Submittal Requirements</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>
                Document the payload organization's (PO's) safety assessment in a manner that reflects how the
                payload design demonstrates compliance with the safety requirements. The HRs are used as a method to
                systematically assess compliance with the safety requirements. All flight HRs are contained in the
                Flight Safety Data Package (FSDP); all ground hazards are contained in the Ground Safety Data
                Package (GSDP).<br/>
                Hazards specified on the ISS_OE_1298 are defined as "standard". Hazards that are not reflected in the
                standard HR are defined as "unique".
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>Dependent on the complexity, technical maturity, and hazard potential for manned missions standard HRs
                shall be prepared on ISS_OE_1298 (see DRD-5.18) or unique HRs on ISS_OE_851 (see DRD-5.19) or equivalent
                form that contains all information required on the ISS forms. For unmanned missions see DRD-5-26.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td></td>
        </tr>

        </tbody>
    </table>

    <page-before>
        <div style="margin-top: 300px;text-align:center">
            (THIS PAGE INTENTIONALLY LEFT BLANK)
        </div>
    </page-before>
</div>
</body>
</html>