<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>DRD-07.02- Declared Materials List (DML)</title>

    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-07.02">
    <table class="titel" aria-label="title">
        <tbody>
        <tr>
            <td><h2>DRD-07.02- Declared Materials List (DML)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference" aria-label="reference">
        <tbody>
        <tr>
            <td rowspan="9">Reference:</td>
            <td>ECSS-Q-ST-70C</td>
            <td>Space product assurance - Materials, mechanical parts and processes</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-70-02C</td>
            <td>Space product assurance - Thermal vacuum outgassing test for the screening of space materials</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-70-04C</td>
            <td>Space product assurance - Thermal testing for the evaluation of space materials, processes, mechanical
                parts and assemblies
            </td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-70-06C</td>
            <td>Space product assurance - Particle and UV radiation testing of space materials</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-70-21C</td>
            <td>Space product assurance - Flammability testing for the screening of space materials</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-70-29C</td>
            <td>Space product assurance - The Determination of offgassing products from materials and assembled articles
                to be used in a manned space vehicle crew compartment
            </td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-70-36C</td>
            <td>Space product assurance - Material selection for controlling stress-corrosion cracking</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-70-37C</td>
            <td>Space product assurance - Determination of susceptibility of metals to stress-corrosion cracking</td>
        </tr>
        <tr>
            <td>ECSS-Q-ST-70-71C</td>
            <td>Space product assurance - Data for selection of space materials and processes</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose" aria-label="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>To provide a common and complete list of all materials the product is made of (incl. mechanical parts).
                No separate mechanical parts list (DMPL) is required. The DML shall be consolidated by the contract
                holder on the basis of data obtained from his sub suppliers and shall reflect the current design at the
                time of issue. The data in the DML make possible to assess whether the materials are suitable for a
                specific application.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content" aria-label="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>DML shall be broken down into clear categories to facilitate locating each item in the documentation.
                The DML shall include the following:
                <ul>
                    <li>item number (as the reference of the material in the DML),</li>
                    <li>material designation (commercial identification),</li>
                    <li>material keys, (e.g. copper, aluminium,)</li>
                    <li>chemical nature and type of product,</li>
                    <li>manufacturer(s) procurement specifications or standards,</li>
                    <li>summary of processing parameters (finish, temper conditions, etc.),</li>
                    <li>use and location,</li>
                    <li>environmental code,</li>
                    <li>size code,</li>
                    <li>test data (outgassing, stress, etc.),</li>
                    <li>approved status (with reference to the approved authority, to the test report and similar
                        previous application),
                    </li>
                    <li>identification of limited life materials.<br/></li>
                </ul>
                <p class="note">
                    Use of codes: any coding or acronyms used within the list shall be definedwithin the DML.
                </p>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format" aria-label="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>Example for DML see below or use an appropriate in-house form or a computer-generated list (computer
                printout).
                <p class="note">
                    For payloads using ISS a MIUL shall be prepared in lieu of DML.
                </p>
            </td>
        </tr>
        </tbody>
    </table>

    <page-before align="center">
        <img src="drd-07.02.gif" class="center" width="484" height="933" alt="drd-07.02.gif"/>
    </page-before>

    <page-before/>

    <h3>Contents of the DML</h3>
    <h4>GROUPS:</h4>
    Materials are classified into 20 groups depending on their type or their main use:
    <ol>
        <li>Aluminium and aluminium alloys</li>
        <li>Copper and copper alloys</li>
        <li>Nickel and nickel alloys</li>
        <li>Titanium and titanium alloys</li>
        <li>Steels</li>
        <li>Stainless steels</li>
        <li>Filler metals: welding, brazing, soldering</li>
        <li>Miscellaneous metallic materials</li>
        <li>Optical materials</li>
        <li>Adhesives, coatings, varnishes</li>
        <li>Adhesive tapes</li>
        <li>Paints and inks</li>
        <li>Lubricants</li>
        <li>Potting compounds, sealants, foams</li>
        <li>Reinforced plastics (incl. PCBs)</li>
        <li>Rubbers and elastomers</li>
        <li>Thermoplastics (e.g. non-adhesive tapes and foils [MLI])</li>
        <li>Thermoset plastics (incl. PCBs)</li>
        <li>Materials aspects of wires and cables</li>
        <li>Miscellaneous non-metallic materials, e.g. ceramics.</li>
    </ol>
    If new groups are created, for a given project, these shall have numbers over 20. <br/>
    Primers are classified in the group of their associated components. <br/>
    The materials list consists of 10 columns which shall be completed as indicated below. Furthermore, similar
    materials shall be grouped together as specified above. If a particular item does not apply, write N.A. (Not
    Applicable).

    <h4>COLUMN 1: Item number</h4>
    This consists of the material group identifier and the user code. The user shall be identified by an agreed user
    code for the project. One only per material type. It does not change during the life of the

    <h4>COLUMN 2: Commercial identification or standardized designation</h4>
    Trade name and number e.g. "ARALDITE AV 100". Correct and standard designation. DLR has chosen:
    <ul>
        <li>Trade name + number. For example, "ARALDITE AY 105"</li>
        <li>If no trade name exists, then the manufacturer's name plus number shall be entered; e.g. "SCHOTT
            K7"
        </li>
        <li>For metal alloys, the AA system is recommended for aluminium alloys, and the AISI system for steel. For
            other metals or alloys, the main constituent is entered first except in the case of a traditional name (e.g.
            brass or bronze).
        </li>
    </ul>
    For each material as designated above, a unique item number shall be given. If several lines are used for different
    applications or processing, sub-item numbers shall be added.

    <h4>COLUMN 3: Chemical nature and product type</h4>
    Example: epoxy resin, polyurethane adhesive, Ti6AI4V.

    <h4>COLUMN 4: Procurement information</h4>
    Manufacturer or supplier: name of the manufacturer and name of the supplier if different.<br/>
    Procurement specification: reference of the procurement specification with issue, revision and date. It may be
    replaced by a national or international specification or standard, if this exists, and identifies the source of
    procurement, if relevant.

    <h4>COLUMN 5: Processing parameters</h4>
    A summary of the process parameters applied by the user of the process shall be listed, e.g. mixture proportions,
    cure temperature, special cleaning agent, surface treatment, thermal treatment and temperature, and reference to
    specification number.

    <h4>COLUMN 6: Use and location</h4>
    The codes entered shall define the location of the material with respect to the:
    <ul>
        <li>subsystems,</li>
        <li>particular piece of equipment (box or item),</li>
        <li>use of the equipment, e.g. structural element, thermal control, electrical insulation.</li>
    </ul>

    <h4>COLUMN 7: Environmental code</h4>
    The environmental code is defined using the table.
    <table class="bordered show-empty word-wrap center-bold" style="table-layout: auto" aria-label="environment code table">
        <colgroup>
            <col style="width: 25%;"/>
            <col style="width: 25%;"/>
            <col style="width: 30%;"/>
            <col style="width: 20%;"/>
        </colgroup>
        <thead>
        <tr>
            <th colspan="2">Radiation/UV/ATOX (1) (R)</th>
            <th>Ambiance (A)</th>
            <th>Temperature (2)(3) (T)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>G: Geostationary</td>
            <td>S: outside shadow</td>
            <td>V: Vacuum</td>
            <td>1: 0 to 100 K</td>
        </tr>
        <tr>
            <td>L: Low orbit</td>
            <td>L: outside light</td>
            <td>H: Hermetic</td>
            <td>2: 101 to 200 K</td>
        </tr>
        <tr>
            <td>B: Radiation belts</td>
            <td></td>
            <td>M: Manned</td>
            <td>3: 201 to 300 K</td>
        </tr>
        <tr>
            <td>I: Interplanetary</td>
            <td></td>
            <td>E: Elevated pressure</td>
            <td>...........</td>
        </tr>
        <tr>
            <td>P: Planetary</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4">
                <ol>
                    <li>For all materials, a letter is selected from the left-hand column. For materials on the surface
                        of the spacecraft, the letter "L" or "S" is added.
                    </li>
                    <li>Thermal cycling to be indicated by two values, e.g. 3/5.</li>
                    <li>"RT" (room temperature) can be accepted as a code between 283 K (10° C) and 313 K (40° C).
                        Materials that are at a boundary between environments shall be described by two sets of codes.
                    </li>
                </ol>
            </td>
        </tr>
        </tbody>
    </table>

    <h4>COLUMN 8: Size code</h4>
    <table class="bordered show-empty word-wrap center-bold" style="table-layout: auto" aria-label="size code table">
        <colgroup>
            <col style="width: 40%;"/>
            <col style="width: 60%;"/>
        </colgroup>
        <thead>
        <tr>
            <th>Size Code</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>0</td>
            <td>0&lt;A or V or M &lt;= 1</td>
        </tr>
        <tr>
            <td>1</td>
            <td>1&lt;A or V or M &lt;= 10</td>
        </tr>
        <tr>
            <td>2</td>
            <td>10&lt;A or V or M &lt; 100</td>
        </tr>
        <tr>
            <td>3</td>
            <td>100&lt;A or V or M &lt; 1000</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>4</td>
            <td>....</td>
        </tr>
        <tr>
            <td colspan="2">where
                <ul>
                    <li>A is the area, in cm<sup>2</sup></li>
                    <li>V is the volume, in cm<sup>3</sup></li>
                    <li>M is the mass, in g</li>
                </ul>
                The size code is indicated by an alphanumeric combination, such as A5, V2 or M3.
            </td>
        </tr>
        </tbody>
    </table>

    <h4>COLUMN 9: Validation references, justification for approval and prime comments and prime approval</h4>
    References shall be made to relevant test data that demonstrates the acceptability of the material under the
    environmental conditions and the application relevant to the particular project concerned. Specifically corrosion
    (CORR), stress corrosion (SCC), flammability (FLAM), offgassing (OFFG) and outgassing (OUTG) data or
    report-references are entered.<br/>
    Standard abbreviations shall be used to summarize the acceptance status of a material for a particular property.
    The justification for approval and prime approval columns shall be used for any additional information to obtain
    customer approval.<br/>
    Standard abbreviations are used to summarize the acceptability or otherwise of a material for a specific property.
    These are defined for the project.<br/>
    The supplier approval status code shall be selected from the Table.

    <table class="bordered show-empty word-wrap center-bold" style="table-layout: auto" aria-label="approval status">
        <colgroup>
            <col style="width: 20%;"/>
            <col style="width: 80%;"/>
        </colgroup>
        <thead>
        <tr>
            <th>Code</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>A:</td>
            <td>Approved - All materials classified "A" may be used without restriction.</td>
        </tr>
        <tr>
            <td>X:</td>
            <td>Approved with a RFA. These materials shall be subjected to an evaluation or validation programme. The
                RFA number shall be entered as a comment.
            </td>
        </tr>
        <tr>
            <td>W:</td>
            <td>Approved with a concession. These materials do not meet the requirements but are used for functional
                reasons. The concession number shall be entered as a comment.
            </td>
        </tr>
        <tr>
            <td>P:</td>
            <td>Pending a decision. Materials for which an evaluation report or a concession is waiting the supplier's
                provisional or definitive approval.
            </td>
        </tr>
        <tr>
            <td>O:</td>
            <td>Open. New materials or materials for which investigations and validations are in progress.</td>
        </tr>
        <tr>
            <td>R:</td>
            <td>Rejected.</td>
        </tr>
        <tr>
            <td>D:</td>
            <td>Deleted. This classification is used for a material which is no longer used.</td>
        </tr>
        <tr>
            <td colspan="2">If approval cannot be given and one of the other codes are entered, comments shall be
                entered in the
                appropriate column.
            </td>
        </tr>
        </tbody>
    </table>

    <h4>COLUMN 10: Customer approval status code and comments</h4>
    This code shall be selected from Table. Additional comments shall be included where appropriate.

</div>
</body>
</html>