<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>
<body>
<div th:fragment="content" id="drd-04.01">
    <table class="titel">
        <tbody>
        <tr>
            <td><h2>DRD-04.01 - Reliability Prediction (Parts Count Technique)</h2></td>
        </tr>
        </tbody>
    </table>

    <table class="reference">
        <tbody>
        <tr>
            <td rowspan="4">Reference:</td>
            <td>MIL-HDBK-217</td>
            <td>Reliability Prediction of Electronic Equipment</td>
        </tr>
        <tr>
            <td>MIL-STD-756</td>
            <td>Reliability Modelling and Prediction</td>
        </tr>
        <tr>
            <td>MIL-HDBK-338</td>
            <td>Electronic Reliability Design Handbook</td>
        </tr>
        <tr>
            <td>NPRD-91</td>
            <td>Non-electronic Parts Reliability Data 1991</td>
        </tr>
        </tbody>
    </table>

    <table class="purpose">
        <tbody>
        <tr>
            <td>Purpose:</td>
            <td>To provide the quantitative baseline needed to assess progress in reliability engineering. The Parts
                Count Method shall be used during the proposal phase as well as in the early project phases.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="content">
        <tbody>
        <tr>
            <td>Content:</td>
            <td>Equipment reliability shall be calculated as a function of the number, type and quality level of the
                individual parts within the equipment.
            </td>
        </tr>
        </tbody>
    </table>

    <table class="format">
        <tbody>
        <tr>
            <td>Format:</td>
            <td>The in-house format to be used shall be similar to the annexed format and shall contain at least the
                same information.
            </td>
        </tr>
        </tbody>
    </table>

    <page-before align="center">
        Parts Count Failure Rate Calculation
        <img src="drd-04.01.gif" class="center" width="619" height="806"/>
    </page-before>

</div>
</body>
</html>