#!/sbin/openrc-run

name=tailoring
user=tailoring
group=tailoring
pidfile=/var/run/tailoring.pid
tailoring_home=/opt/tailoring

start_stop_daemon_args="
        --user $user
        --group $group
        --pidfile $pidfile
        --name $name
        --wait 100
"

tailoring_args="
    -Dloader.path=file:$tailoring_home/lib/,file:$tailoring_home/current.jar
	-Dspring.profiles.active=dev,vm 
	-Dspring.config.additional-location=file://$tailoring_home/config/ 
	-Dlog4j.configurationFile=$tailoring_home/config/log4j2.xml
"

java_debug_args=""
#java_debug_args="-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005"


start() {
	ebegin "Starte Tailoring"
    rm -f "$pidfile"
	start-stop-daemon --make-pidfile $start_stop_daemon_args --start --background --exec=/usr/lib/jvm/default-jvm/bin/java --  $java_debug_args  $tailoring_args  -jar $tailoring_home/current.jar
    retval=$?
    eend $retval
}

stop() {
	ebegin "Stoppe Tailoring"
    start-stop-daemon --stop --pidfile "$pidfile"
    eend $?
}

