server {        
   listen 80;        
   listen [::]:80;
   
   server_name _;
   
   location / {
        proxy_pass http://192.168.56.50:8080/;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Port $server_port;
   }


   location /assets {
	# First attempt to serve request as file, then
        # as directory, then fall back to displaying a 404.
        #try_files $uri $uri/ =404;
	alias /opt/tailoring/assets/;
   }        
   
}
