TEMPLATE_HOME=%USERPROFILE%/entwicklung/baed_mi/git/tailoringexpert/tailoringexpert-plattform/tailoringexpert-openhtmltopdf/src/test/resources/templates/
ASSET_HOME=%USERPROFILE%/entwicklung/baed_mi/git/tailoringexpert/tailoringexpert-plattform/tailoringexpert-openhtmltopdf/src/test/resources/templates/